<div class="ui modal small" id="add-document-type-box">
	<i class="close icon"></i>
	<div class="header">
		<h2 class="ui header">
		  <i class="fa fa-files-o fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    Add New Document Type
		    <div class="sub header">Create a new type of documents to be available on your properties</div>
		  </div>
		</h2>
	</div>
	<div class="content">
		<div class="ui grid">
			<div class="sixteen wide column">
				<label>Label</label>
				<div class="ui input fluid" >
				  <input type="text" placeholder="Name" id="add-document-type-name">
				</div>
			</div>
		</div>
	  <br/>
		<br/>
		<div class="ui grid">
			<div class="sixteen wide column">
				<label>Who Can Read</label>
				<select class="ui fluid search dropdown" id="add-document-read-permissions" multiple="">
					<option value="">Read Permissions</option>
					<option value="1">Lender</option>
					<option value="2">Mortgage Broker</option>
					<option value="3">Buyer Agent</option>
					<option value="4">Seller Agent</option>
					<option value="5">Title Agent</option>
					<option value="6">Buyer</option>
					<option value="7">Seller</option>
					<option value="8">Regulator</option>
					<option value="9">Service Agent</option>
					<option value="10">Settlement Agent</option>
					<option value="11">Company Associate</option>
				</select>

			</div>
			<div class="sixteen wide column">
				<label>Who Can Update</label>
				<select class="ui fluid search dropdown" id="add-document-update-permissions" multiple="">
					<option value="">Update Permissions</option>
					<option value="1">Lender</option>
					<option value="2">Mortgage Broker</option>
					<option value="3">Buyer Agent</option>
					<option value="4">Seller Agent</option>
					<option value="5">Title Agent</option>
					<option value="6">Buyer</option>
					<option value="7">Seller</option>
					<option value="8">Regulator</option>
					<option value="9">Service Agent</option>
					<option value="10">Settlement Agent</option>
					<option value="11">Company Associate</option>
				</select>
			</div>
		</div>
		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui checkbox">
				  <input type="checkbox" tabindex="0" class="hidden" id="add-document-types-active">
				  <label>Include in Property Dropdown</label>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui checkbox">
				  <input type="checkbox" tabindex="0" class="hidden" id="add-document-types-autocreate">
			  	<label>Automatically Add for New Properties</label>
				</div>
			</div>
		</div>
 	</div>
	<div class="actions">
		<div class="ui cancel right labeled icon button">
			Nevermind
			<i class="cancel icon"></i>
		</div>
		<div {{ action "addDocumentType" }} class="ui positive right labeled icon button">
			Add
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>

