<div class="ui basic modal" id="archive-property-box">
	<div class="header">
		<h2 class="ui header" style="color: white;">
  	  <i class="fa fa-archive fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    <span id="archive-property-header"></span>
		    <div class="sub header" style="color: white;">Hide this property from from your dockets</div>
		  </div>
		</h2>
	</div>
  <div class="content">
    <h3>Archive this property? You can still retrieve it later.</h3>
  </div>
  <div class="actions">
    <div class="ui cancel red basic inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div {{ action "archiveProperty" }} class="ui ok green basic inverted button" id="archive-property-button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
