<div class="ui grid">
	<div class="ui one wide column"></div>
	<div class="ui fourteen wide column">
		<div class="ui four stackable cards">
			{{#each componentData as |property|}}
			  <div class="card">
			    <div class="content">
			      <div class="header">
			        {{property.street}}
			      </div>
			      <div class="meta">
			        {{#if property.city}}
			        	<span class="date">{{property.city}}{{#if property.state}}, {{property.state}}{{/if}}</span>
			        {{/if}}
			      </div>
			      <div class="description">
			        <strong>Close date:</strong> {{moment-format property.closedate 'MMM DD, YYYY'}}
			      </div>
			    </div>
			    <div class="extra content">
		        {{#if property.canBeModified}}
		        	<div {{action "restoreProperty" property}} class="ui fluid basic green button">Restore</div>
		        {{/if}}
			    </div>
			  </div>
			{{/each}}
		</div>
	</div>
	<div class="ui one wide column"></div>
</div>
