<div class="ui grid">
	<div class="ui one wide column"></div>
	<div class="ui fourteen wide column">
		<div class="ui four stackable cards">
			{{#each componentData as |property|}}
			  <div {{ action "viewExpandedProperty" property }} class="ui card button">
			  	<div class="ui top attached indicating progress" data-percent="{{property.percentage}}">
			  	  <div class="bar"></div>
			  	</div>
			    <div class="content">
			      <div class="header">
			        <div style="float: left;">{{property.street}}</div>
			        <div style="float: right; color: #CCC;">{{property.count}}</div>
			      </div>
			      <div class="meta">
			        {{#if property.city}}
			        	<span class="date">{{property.city}}{{#if property.state}}, {{property.state}}{{/if}}</span>
			        {{/if}}
			      </div>
			    </div>
		      <div class="extra content">
		        <strong>Close date:</strong> {{moment-format property.closedate 'MMM DD, YYYY'}}
		      </div>
			  </div>
			{{/each}}
		</div>
	</div>
	<div class="ui one wide column"></div>
</div>
