<div class="ui modal" id="contact-list-box">
	<i class="close icon"></i>
	  <div class="header">
  	<h2 class="ui header">
  	  <i class="fa fa-users fa-2x modal-header-icon" aria-hidden="true"></i>
  	  <div class="content">
				Contact List
  	    <div class="sub header">Manage your contacts and their roles</div>
  	  </div>
  	</h2>
  </div>
	<div class="content">
		{{!-- <div class="ui grid">
			<div class="two wide column"></div>
			<div class="three wide column">
				<center>
					<h4>Name</h4>
				</center>
			</div>
			<div class="three wide column">
				<center>
					<h4>Role</h4>
				</center>
			</div>
			<div class="four wide column">
				<center>
					<h4>Can View</h4>
				</center>
			</div>
			<div class="three wide column"></div>
		</div> --}}
		<h4 class="ui horizontal divider header">
		  <i class="fa fa-user" aria-hidden="true"></i>
		  Synced Contacts
		  <i class="fa fa-question-circle title-popup" style="font-size: 12px;" title="Users who have a Closing Docket account and are able to access documents and tasks that you share with them." aria-hidden="true"></i>
		</h4>
		<div class="ui grid">
			<div class="five wide column"></div>
			<div class="six wide column" id="member-contact-list"></div>
			<div class="five wide column"></div>
		</div>
		<h4 class="ui horizontal divider header">
		  <i class="fa fa-paper-plane" aria-hidden="true"></i>
		  Invited Contacts
		  <i class="fa fa-question-circle title-popup" style="font-size: 12px;" title="Users that have been sent an invite to join you on Closing Docket but have not created an account, yet. These users are not available to add to a party on a property." aria-hidden="true"></i>
		</h4>
		<div class="ui grid">
			<div class="five wide column"></div>
			<div class="six wide column" id="invited-contact-list"></div>
			<div class="five wide column"></div>
		</div>
		<h4 class="ui horizontal divider header">
		  <i class="fa fa-user-plus" aria-hidden="true"></i>
		  Invite a Contact
		  <i class="fa fa-question-circle title-popup" style="font-size: 12px;" title="Send a user an email with instructions on how to create an account on Closing Docket. Once they join, you can share documents and tasks with them." aria-hidden="true"></i>
		</h4>
		<br/>
		<div id="successful-invite-notification">User Sucessfully Invited!</div>
		<div class="ui grid">
			<div class="two wide column"></div>
			<div class="six wide column">
				<div class="ui fluid input">
					<input type="text" id="invite-user-email" placeholder="Email">
				</div>
			</div>
			<div class="six wide column">
				<select id="invite-user-role" class="ui selection fluid dropdown manage-party-user-dropdown">
					<option value="empty" selected="">Select Occupation</option>
					<option value="1">Realtor</option>
					<option value="2">Title Agent</option>
					<option value="3">Lender</option>
					<option value="4">Attorney</option>
					<option value="5">Regulator</option>
					<option value="6">Service Provider</option>
					<option value="7">Other</option>
				</select>
			</div>
			<div class="two wide column"></div>
		</div>
		<div class="ui grid">
			<div class="two wide column"></div>
			<div class="six wide column">
				<div class="ui fluid input">
				  <input type="text" id="invite-user-first-name" placeholder="First Name">
				</div>
			</div>
			<div class="six wide column">
				<div class="ui fluid input">
				  <input type="text" id="invite-user-last-name" placeholder="Last Name">
				</div>
			</div>
			<div class="two wide column"></div>
		</div>
		<br/>
		<center>
			<div {{ action "inviteUser" }} class="ui positive right labeled icon button">
			  <i class="add icon"></i>
			  Invite
			</div>
		</center>
	</div>
	<div class="actions">
		<div class="ui cancel right labeled icon button">
			<i class="check icon"></i>
			Done
		</div>
	</div>
</div>
