<div class="ui modal" id="create-account-box">
  <i {{action "hideModals" }} class="close icon"></i>
	<div class="header" id="header-message">Start Closing More with Confidence</div>
		<div class="content">
			<div id="sign-up-wrapper">
			<div class="main-error-message" id="create-account-error-message">There seems have been an issue creating your account. Try again!</div>
			<div class="create-account-error-message" ></div>
			<div id="first-invited">
				<div class="ui large fluid icon input">
					<input type="text" id="create-account-first-name" placeholder="First Name">
				</div>
			<br/>
			</div>
			<div id="last-invited">
				<div class="ui large fluid icon input">
					<input type="text" id="create-account-last-name" placeholder="Last Name">
				</div>
				<br/>
				<br/>
			</div>
			<div class="create-account-error-message" ></div>
			<div class="field">
				<select class="ui large fluid search dropdown" id="create-account-job">
					<option value="">Select Occupation</option>
					<option value="1">Realtor</option>
					<option value="2">Title Agent</option>
					<option value="3">Lender</option>
					<option value="4">Attorney</option>
					<option value="5">Regulator</option>
					<option value="6">Service Provider</option>
					<option value="7">Other</option>
				</select>
			</div>
			<div id="email-invited">
				<br/>
				<br/>
				<div class="create-account-error-message" ></div>
				<div class="ui large fluid icon input">
					<input type="email" id="create-account-email" placeholder="Email">
					<i class="send icon"></i>
				</div>
				<br/>
				<div class="create-account-error-message" ></div>
				<div class="ui large fluid icon input">
					<input type="email" id="create-account-email-confirm" placeholder="Confirm Email">
					<i class="send icon"></i>
				</div>
			</div>

			<br/>
			<br/>
			<div class="create-account-error-message" ></div>
			<div class="ui large fluid icon input">
				<input type="password" id="create-account-password" placeholder="Password">
				<i class="unlock alternate icon"></i>

			</div>
			<br/>
			<div class="create-account-error-message" ></div>
			<div class="ui large fluid icon input">
				<input type="password" id="create-account-password-confirm" placeholder="Confirm Password">
				<i class="unlock alternate icon"></i>

			</div>

			<br/>
			<br/>
			<br/>

				<button class="ui basic button" {{action "viewTermsAndConditions"}} style="float: left;">Terms and Conditions</button>
				<button class="ui green button" {{action "createAccount"}} id="create-account-button" disabled="disable" style="float: right;">Let's Get Started!</button>

			<br>
			<br>
		</div>
	</div>
</div>




