<div class="ui modal" id="create-account-success-box">
  <i class="close icon" {{action "hideModals"}}></i>
	<div class="content">
		<i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
		<br/>
		Account sucessfully created!
		<br/>
		<span class="smaller-text">
			Validate your email by going to
			<br/>
			<span id="validate-email-location">their email</span>
		</span>
	</div>
</div>
