{{!-- {{#each componentData as |user|}} --}}
<div class="ui modal small" id="edit-profile-box">
	<div class="header">
		<h2 class="ui header">
		  <i class="fa fa-user fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    Edit Profile
		    <div class="sub header">Edit the information that other party members see</div>
		  </div>
		</h2>
	</div>
	<div class="content">
		<div class="ui grid">
			<div class="eight wide column">
				<label>First Name</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-firstname" placeholder="First Name" value={{ user.firstname }}>
				</div>
			</div>

			<div class="eight wide column">
				<label>Last Name</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-lastname" placeholder="Last Name" value={{ user.lastname }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="sixteen wide column">
				<label>Email</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-email" placeholder="Email" value={{ user.email }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<label>Occupation</label>
				<div class="ui fluid search selection dropdown" id="occupation-dropdown">
				  <input type="hidden" name="country">
				  <i class="dropdown icon"></i>
				  <div class="default text">Occupation</div>
				  <div class="menu">
					  <div class="item" data-value="1">Realtor</div>
					  <div class="item" data-value="2">Title Agent</div>
					  <div class="item" data-value="3">Lender</div>
					  <div class="item" data-value="4">Attorney</div>
					  <div class="item" data-value="5">Regulator</div>
					  <div class="item" data-value="6">Service Provider</div>
					  <div class="item" data-value="7">Other</div>
				  </div>
				</div>
			</div>

			<div class="eight wide column">
				<label>Phone Number</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-phone" placeholder="Phone Number" value={{ user.phone }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<label>NMLS</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-nmls" placeholder="NMLS" value={{ user.nmls }}>
				</div>
			</div>

			<div class="eight wide column">
				<label>License</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-license" placeholder="License" value={{ user.license }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<label>Password</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-password" placeholder="Password">
				</div>
			</div>

			<div class="eight wide column">
				<label>Confirm Password</label>
				<div class="ui large fluid icon input">
					<input type="text" id="edit-user-password-confirm" placeholder="Confirm Password" >
				</div>
			</div>
		</div>

		<div class="actions">
			<div class="ui grid">
				<div class="eight wide column"></div>
				<div class="eight wide column">
					<div class="ui grid">
						<div class="nine wide column">
			    		<div class="ui cancel right labeled icon button">
			    		  Nevermind
			    		  <i class="cancel icon"></i>
			    		</div>
						</div>
						<div class="seven wide column">
			    		<div {{ action "saveChangeToProfile" }} class="ui positive right labeled icon button">
			    		  Update
			    		  <i class="checkmark icon"></i>
			    		</div>
						</div>
					</div>
				</div>
			</div>
	  </div>
	</div>
</div>
{{!-- {{/each}} --}}
