<div class="ui modal small" id="edit-company-profile-box">
  <i class="close icon"></i>
	  <div class="header">
	  	<h2 class="ui header">
	  	  <i class="fa fa-building-o fa-2x modal-header-icon" aria-hidden="true"></i>
	  	  <div class="content">
					Edit Company Profile
	  	    <div class="sub header">Manage the information listed about your company</div>
	  	  </div>
	  	</h2>
	  </div>
	<div class="content">
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-name" placeholder="Company Name" value={{ company.name }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-street" placeholder="Street Address" value={{ company.street }}>
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-street-2" placeholder="Street Address 2" value={{ company.street2 }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-city" placeholder="City" value={{ company.city }}>
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui large fluid icon input">
					{{!-- Make dropdown --}}
					<input type="text" id="edit-company-state" placeholder="State" value={{ company.state }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-zipcode" placeholder="Zipcode" value={{ company.zipcode }}>
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-fax" placeholder="Fax" value={{ company.fax }}>
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-nmls" placeholder="NMLS" value={{ company.nmls }}>
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-company-license" placeholder="License" value={{ company.license }}>
				</div>
			</div>

		</div>
		<div class="actions">
			<div class="ui grid">
				<div class="eight wide column"></div>
				<div class="eight wide column">
					<div class="ui grid">
						<div class="nine wide column">
			    		<div class="ui cancel right labeled icon button">
			    		  Nevermind
			    		  <i class="cancel icon"></i>
			    		</div>
						</div>
						<div class="seven wide column">
			    		<div {{ action "saveChangeToCompany" }} class="ui positive right labeled icon button">
			    		  Update
			    		  <i class="checkmark icon"></i>
			    		</div>
						</div>
					</div>
				</div>
			</div>
	  </div>
	</div>
</div>
