<div class="ui modal small" id="edit-property-info-box">
	<i class="close icon"></i>
		<div class="header">
			<h2 class="ui header">
				<i class="fa fa-home fa-2x modal-header-icon" aria-hidden="true"></i>
				<div class="content">
					<span id="property-info-header"></span>
					<div class="sub header">Manage the information listed about this property</div>
				</div>
			</h2>
		</div>
	<div class="content">
		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-property-street" placeholder="Street Address">
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-property-street2" placeholder="Street Address 2">
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-property-city" placeholder="City">
				</div>
			</div>

			<div class="eight wide column">
				<select class="ui fluid search dropdown"  id="edit-property-state">
					<option value="">State</option>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-property-zipcode" placeholder="Zipcode">
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-property-fax" placeholder="Price">
				</div>
			</div>
		</div>

		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui large fluid icon input">
					<input type="text" id="edit-property-closedate" placeholder="NMLS">
				</div>
			</div>

		</div>
		<div class="actions">
			<div class="ui grid">
				<div class="eight wide column"></div>
				<div class="eight wide column">
					<div class="ui grid">
						<div class="nine wide column">
							<div class="ui cancel right labeled icon button">
								Nevermind
								<i class="cancel icon"></i>
							</div>
						</div>
						<div class="seven wide column">
							<div {{ action "saveChangesToProperty" }} class="ui positive right labeled icon button">
								Update
								<i class="checkmark icon"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
