<div class="ui modal" id="edit-document-permissions-box">
  <i class="close icon"></i>
  <div class="header">
  	<h2 class="ui header">
  	  <i class="fa fa-lock fa-2x modal-header-icon" aria-hidden="true"></i>
  	  <div class="content">
				<span id="permissions-drop-name"></span>
  	    <div class="sub header">Manage who can see this document</div>
  	  </div>
  	</h2>
  </div>
	<div class="content">
		<div class="ui grid">
			<div class="sixteen wide column">
				<h3 style="width: 100%;">Who Can Read</h3>
				<div class="ui buttons">
				  <button {{action "uncheckAllRead"}} class="ui button">Nobody</button>
				  <button {{action "checkAllRead"}} class="ui positive button">Everyone</button>
				</div>
				<br>
				<br>
				<select class="ui fluid search dropdown" id="read-permissions" multiple="">
					<option value="">Read Permissions</option>
					<option value="1">Lender</option>
					<option value="2">Mortgage Broker</option>
					<option value="3">Buyer Agent</option>
					<option value="4">Seller Agent</option>
					<option value="5">Title Agent</option>
					<option value="6">Buyer</option>
					<option value="7">Seller</option>
					<option value="8">Regulator</option>
					<option value="9">Service Agent</option>
					<option value="10">Settlement Agent</option>
					<option value="11">Company Associate</option>
				</select>

			</div>
			<div class="sixteen wide column">
				<h3 style="width: 100%;">Who Can Update</h3>
				<div class="ui buttons">
				  <button {{action "uncheckAllUpdate"}} class="ui button">Nobody</button>
				  <button {{action "checkAllUpdate"}} class="ui positive button">Everyone</button>
				</div>
				<br>
				<br>
				<select class="ui fluid search dropdown" id="update-permissions" multiple="">
					<option value="">Update Permissions</option>
					<option value="1">Lender</option>
					<option value="2">Mortgage Broker</option>
					<option value="3">Buyer Agent</option>
					<option value="4">Seller Agent</option>
					<option value="5">Title Agent</option>
					<option value="6">Buyer</option>
					<option value="7">Seller</option>
					<option value="8">Regulator</option>
					<option value="9">Service Agent</option>
					<option value="10">Settlement Agent</option>
					<option value="11">Company Associate</option>
				</select>
			</div>
		</div>
		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui checkbox">
				  <input type="checkbox" tabindex="0" class="hidden" id="edit-permissions-active">
				  <label>Include in Property Dropdown</label>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui checkbox">
				  <input type="checkbox" tabindex="0" class="hidden" id="edit-permissions-autocreate">
			  	<label>Automatically Add for New Properties</label>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui cancel right labeled icon button" >
		  Nevermind
		  <i class="cancel icon"></i>
		</div>
		<div {{ action "updateDocumentPermissions" }} class="ui positive right labeled icon button">
		  Update
		  <i class="checkmark icon"></i>
		</div>
  </div>
</div>
