<div class="ui modal small" id="document-type-box">
	<i class="close icon"></i>
	<div class="header">
		<h2 class="ui header">
		  <i class="fa fa-files-o fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    Edit Document Types
		    <div class="sub header">Manage the documents you use in a closing</div>
		  </div>
		</h2>
	</div>
	<div class="content">
		<div class="ui grid">
			<div class="eight wide column">
				<label>Document Type</label>
				<select class="ui search fluid dropdown" id="edit-document-type-dropdown">
			  </select>
			</div>
			<div class="eight wide column">
				<label>Label</label>
				<div class="ui input fluid" >
				  <input type="text" placeholder="Label" id="edit-document-type-name">
				</div>
			</div>
		</div>
	  <br/>
		<br/>
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="multiselect-dropdown-error" id="read-permission-error">Must have at least have one user type with permission to update.</div>
				<label>Who Can Read</label>
				<select class="ui fluid search dropdown" id="edit-document-read-permissions" multiple="">
					<option value="">Read Permissions</option>
					<option value="1">Lender</option>
					<option value="2">Mortgage Broker</option>
					<option value="3">Buyer Agent</option>
					<option value="4">Seller Agent</option>
					<option value="5">Title Agent</option>
					<option value="6">Buyer</option>
					<option value="7">Seller</option>
					<option value="8">Regulator</option>
					<option value="9">Service Agent</option>
					<option value="10">Settlement Agent</option>
					<option value="11">Company Associate</option>
				</select>

			</div>
			<div class="sixteen wide column">
				<div class="multiselect-dropdown-error" id="update-permission-error">Must have at least have one user type with permission to update.</div>
				<label>Who Can Update</label>
				<select class="ui fluid search dropdown" id="edit-document-update-permissions" multiple="">
					<option value="">Update Permissions</option>
					<option value="1">Lender</option>
					<option value="2">Mortgage Broker</option>
					<option value="3">Buyer Agent</option>
					<option value="4">Seller Agent</option>
					<option value="5">Title Agent</option>
					<option value="6">Buyer</option>
					<option value="7">Seller</option>
					<option value="8">Regulator</option>
					<option value="9">Service Agent</option>
					<option value="10">Settlement Agent</option>
					<option value="11">Company Associate</option>
				</select>
			</div>
		</div>
		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui checkbox">
				  <input type="checkbox" tabindex="0" class="hidden" id="edit-document-types-active">
				  <label>Include in Property Dropdown</label>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui checkbox">
				  <input type="checkbox" tabindex="0" class="hidden" id="edit-document-types-autocreate">
			  	<label>Automatically Add for New Properties</label>
				</div>
			</div>
		</div>
 	</div>
	<div class="actions">
		<div {{ action "showAddNewDocumentType" }} class="ui right labeled icon button green" style="float: left;">
	  	Add Type
	  	<i class="plus icon"></i>
		</div>
		<div {{ action "deleteDocumentType" }} class="ui right labeled icon button red" style="float: left;">
	  	Delete Type
	  	<i class="minus icon"></i>
		</div>
		<div class="ui cancel right labeled icon button">
			Nevermind
			<i class="cancel icon"></i>
		</div>
		<div {{ action "updateDocumentType" }} class="ui right labeled icon button green">
			Save Changes
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>

{{!-- MODALS --}}
{{ add-document-type-modal }}

