<div class="ui modal small" id="faq-box">
  <i class="close icon" ></i>
	<div class="header">
		<h2 class="ui header">
  	  <i class="fa fa-question fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    Frequently Asked Questions
		    <div class="sub header">Answers to some of the most common questions we get asked.</div>
		  </div>
		</h2>
	</div>
	<div class="content">
		<div class="ui relaxed divided list">
			<div class="item">
				<div class="content">
					<div class="header">How do I share a document?</div>
					<div class="description">
						On the document that you want to share there is an icon on the lower right corner that if you hover over it, it will say share, you can click on that and a screen will pop up prompting you to pick a contact from your contact list or to invite somebody new to Closing Docket and then you can send it to the person.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">Can I edit a document?</div>
					<div class="description">
						For security reasons we do not provide this feature.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I see if I have permission to view a document?</div>
					<div class="description">
						If you have permission to view a document there will be box in the bottom left corner of the document drop that has a tab that says “permissions”, if you see a lock symbol then you do not have permission.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I change who can see a document?</div>
					<div class="description">
						First you have top have access to be able to edit these settings, if you have access then you will se a button in the lower left corner of the drop box that says permissions and you can click on that button and a box will pop up with “who can read” and “who can update”.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">What is a document drop? </div>
					<div class="description">
						A document drop is where somebody has created a slot for a document that is related to the closing to be uploaded, when a document is uploaded, permissions are set as to who is allowed to view/update the document.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">Why can't I upload a document?</div>
					<div class="description">
						You can click on the plus sign on the document drop and select from your documents, or you can drag and drop.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I edit my profile information?</div>
					<div class="description">
						In the upper right hand corner there is a settings button, if you click on that a menu will drop down and there is an “edit profile” option.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I edit my company information?</div>
					<div class="description">
						In the upper right corner of the web page there is a settings drop down menu, If you click on that a menu will drop down and there is an option to “edit company profile”
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I leave feedback?</div>
					<div class="description">
						At the bottom of the web page there are two options for leaving feedback, you can click on the “contact us” button and seed feedback directly via email or you can click on “leave feedback” and a box will pop up for you to type a message and send to us.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I contact Closing Docket for support?</div>
					<div class="description">
						Go to the bottom of the web page and click on the “contact us” button and it will bring up an email to directly contact us for whatever your need may be.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I edit my property information? </div>
					<div class="description">
						In the header bar where the address is there is a button to the left that you can click on and there will be a dropdown menu and “edit info” will be an option, you can click that and edit all the info on the property or you can directly click on the name of the property or the closing date and directly type what you want to change it to.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I add a property</div>
					<div class="description">
						There is a box on the top of the page in the middle that you type the address into, then click add property.
					</div>
				</div>
			</div>


			<div class="item">
				<div class="content">
					<div class="header">How many properties can I have?</div>
					<div class="description">
						Right now there is no limit for the number of properties
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I access my tasks? 	</div>
					<div class="description">
						In the upper left corner of the property tab there is a drop down menu that says “view tasks”
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I create a new task?</div>
					<div class="description">
						When you go to the bottom of the tasks page there is a box where you can type the new task in and hit “add”
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How do I edit a task?</div>
					<div class="description">
						At this moment you cannot edit tasks.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">How can I see who can view my tasks?</div>
					<div class="description">
						In the upper left corner of the property tab there is a “party” button, click on that and a page will pop up and it will show who is involved in the closing, their role, and what they can access.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">What is "trust"</div>
					<div class="description">
						When you add a document you choose what parties that you “trust” to see and edit.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">Why can't a member of my party upload a document?</div>
					<div class="description">
						If you cant upload a document then that means you have not been given permission to do so.
					</div>
				</div>
			</div>

			<div class="item">
				<div class="content">
					<div class="header">Why can't a member of my party view my document</div>
					<div class="description">
						If you cant view a document then that means that you don’t have permission to do so.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui cancel right labeled icon button">
		  Done
		  <i class="checkmark icon"></i>
	  </div>
	</div>
</div>
