<div class="ui modal small" id="feedback-box">
	<div class="header">Send Feedback</div>
	<div class="content ui form">
		<div class="ui grid">
			<div class="sixteen wide column">
				<label>Tell us about your experience.</label>
				<div class="field">
				  <textarea rows="5" id="feedback-field"></textarea>
				</div>
			</div>
		</div>

		<div class="actions">
			<div class="ui grid">
				<div class="five wide column">
	    		<div class="ui cancel right labeled icon button">
	    		  Nevermind
	    		  <i class="cancel icon"></i>
	    		</div>
				</div>
				<div class="five wide column"></div>
				<div class="six wide column">
    			<div {{ action "sendFeedback" }} class="ui positive right labeled icon button">
    			  Let Our Team Know!
    			  <i class="checkmark icon"></i>
    			</div>
				</div>
			</div>
	  </div>
	</div>
</div>
