<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
			<div class="four wide column">
				<h4 class="ui inverted header">Company</h4>
				<div class="ui inverted link list">
					{{#link-to "about-us"}}<a href="#" class="item">About</a>{{/link-to}}
					<br/>
					{{#link-to "legal"}}<a href="#" class="item">Legal</a>{{/link-to}}
					<span class="item">
						<a href="https://twitter.com/ClosingDocket" class="item">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="https://www.facebook.com/closingdocket/" class="item">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a href="https://www.linkedin.com/company/closing-docket" class="item">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
					</span>

				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">Resources</h4>
				<div class="ui inverted link list">
					<a href="mailto:support@closingdocket.com" class="item">Contact Us</a>
					<a href="http://blog.closingdocket.com/" class="item">Blog</a>
					<a href="http://closingdocket.com/forum" class="item">Forum</a>
					{{#if showFeedbackButton}} <a class="item" {{ action "showFAQModal" }}>FAQ</a>{{/if}}
					{{#if showFeedbackButton}} <a href="#" {{ action "showFeedbackModal" }} class="item">Send Feedback</a>{{/if}}
				</div>
			</div>
			<div class="eight wide column">
				&copy; 2016 Closing Docket, Inc.
			</div>
		</div>
	</div>
</div>
