<div class="ui small modal" id="reset-password-box" style="margin-top: -230px; width: 350px; margin-left: -14%;">
  <i {{action "hideModals" }} class="close icon"></i>
	<div class="header">Reset Your Password</div>
	<div class="content">
		<div id="reset-password-content">
			<div class="main-error-message" id="reset-password-error-message">
				Email account does not exist.
				<br>
				Maybe you used another one?
			</div>
			<div class="ui large fluid icon input">
				<input type="email" id="reset-password-email" placeholder="Email">
				<i class="send icon"></i>
			</div>
			<br>
		</div>
	  <div id="reset-password-loader" class="ui active loader" style="display: none;"></div>
		<div id="reset-email-sent-content">
			We sent and email to <span id="reset-password-email-sent"></span>.
			<br>
			Follow the instructions in the email to reset your password.
		</div>
		<br>
		<br>
		<center style="display: none;" id="done-resetting-password-wrapper">
			<button class="ui cancel button" {{action "hideModals" }}>Done</button>
		</center>
		<center id="reset-password-button-wrapper">
			<button class="ui green button" {{action "resetPassword"}} id="reset-password-button" disabled="disable">Reset Password</button>
		</center>
	</div>
</div>




