<div id="login-inline-form">
    <span class="inline-text" style="margin-right: 5px;">My name is</span>
    <div class="ui input focus">
        <input id="inline-first-name" type="text" placeholder="First ...">
        <input id="inline-last-name" type="text" placeholder="Last ..." style="margin-left:5px; margin-right: 5px;">
    </div>
    <span class="inline-text" style="margin-right: 5px;"> I am a</span>
    <select class="ui search dropdown" id="inline-job">
        <option value="">Select Occupation</option>
        <option value="1">Realtor</option>
        <option value="2">Title Agent</option>
        <option value="3">Lender</option>
        <option value="4">Attorney</option>
        <option value="5">Regulator</option>
        <option value="6">Service Provider</option>
        <option value="7">Other</option>
    </select>
    <br>
    <br>
    <div {{action "advanceToGettingStarted" goToGettingStarted}} class="ui huge primary button disabled" id="inline-create-account">Try for free!<i class="right arrow icon"></i></div>

</div>
