<div class="ui modal" id="login-box">
  <i {{action "hideModals" }} class="close icon"></i>
	<div class="header">Welcome Back!</div>
	<div class="content">
		<div class="main-error-message" id="login-error-message">Email/password combination does not exist.</div>
	<div class="login-error-message"></div>
		<div class="ui large fluid icon input">
			<input type="email" id="login-email" placeholder="Email">
			<i class="send icon"></i>
		</div>
		<br/>
		<br/>
		<div class="login-error-message"></div>
		<div class="ui large fluid icon input">
			<input type="password" id="login-password" placeholder="Password">
			<i class="unlock alternate icon"></i>
		</div>
		<br/>
		<button {{action "showCreateAccountModal"}} class="ui basic button" style="float: left;">
		  <i class="fa fa-user" aria-hidden="true"></i>
		  Create Account
		</button>
		<button {{action "showResetPasswordModal"	}} class="ui basic button" style="float: right;">
		  <i class="fa fa-key" aria-hidden="true"></i>
		  Forgot Password
		</button>
		<br>
		<br>
		<br>
		<center>
			<button class="ui green button" {{action "login"}} id="login-button" disabled="disable">Log In</button>
		</center>
	</div>
</div>




