<div class="ui modal" id="parties-box">
	<i class="close icon"></i>
	<div class="header">
		<h2 class="ui header">
  	  <i class="fa fa-users fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    <span id="manage-parties-header"></span>
		    <div class="sub header">Update and manage who is associated with this closing</div>
		  </div>
		</h2>
	</div>
	<div class="content">

		<div class="ui grid">
			<div class="one wide column"></div>
			<div class="fourteen wide column" id="manage-party-list"></div>
			<div class="one wide column"></div>
		</div>
		<div class="ui grid">
			<div class="one wide column"></div>
			<div class="fourteen wide column">
				<div class="ui fluid action input">
					<select class="ui search fluid dropdown add-new-party-contact-list" id="add-new-party-contact-list">
						<option value="">Select a User</option>
						{{#each contactList as |contact|}}
							{{#if contact.user}}
								<option value="{{contact.contactId}}">{{contact.firstname}} {{contact.lastname}}</option>
							{{/if}}
						{{/each}}
					</select>
					<select class="ui search dropdown manage-party-user-role-dropdown" id="add-new-party-role">
						<option value="">Select a Role</option>
						<option value="1">Lender</option>
						<option value="2">Mortgage Broker</option>
						<option value="3">Buyer Agent</option>
						<option value="4">Listing Agent</option>
						<option value="5">Title Agent</option>
						<option value="6">Buyer</option>
						<option value="7">Seller</option>
						<option value="8">Regulator</option>
						<option value="9">Service Provider</option>
						<option value="10">Settlement Agent</option>
						<option value="11">Associate</option>
					</select>
					<div {{action "addParty" contactList}} type="submit" class="ui positive disabled button" id="add-party-button" style="padding-left: 34px; padding-right: 34px;"> Add </div>
				</div>
			</div>
			<div class="one wide column"></div>
		</div>
	</div>
	<div class="actions">
{{!-- 		<div {{ action "viewContacts" contactList}} class="ui button labeld icon button" style="float: left;">
			<i class="plus icon"></i>
			Add Person to Contact List
		</div> --}}
		<div class="ui deny right labeled icon button">
			Nevermind
			<i class="cancel icon"></i>
		</div>
		<div {{action "saveChangesToParty"}} class="ui positive right labeled icon button" id="save-changes-to-party-button">
			<i class="check icon"></i>
			Save Changes
		</div>
	</div>
</div>

