<div class="ui modal small" id="new-stuff-box">
  <i class="close icon"></i>
	<div class="header">
		<h2 class="ui header">
  	  <i class="fa fa-star-o fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    New Stuff
		    <div class="sub header">Check out the new stuff we've put in!</div>
		  </div>
		</h2>
	</div>
	<div class="content">
		<div class="ui relaxed divided list">
		<div class="item">
		  <div class="content">
		    <div class="header">Edit close date by just clicking on it!</div>
		    <div class="description">August 31st</div>
		  </div>
		</div>
		  <div class="item">
		    <div class="content">
		      <div class="header">Edit property street by just clicking on it and making your changes!</div>
		      <div class="description">August 30th</div>
		    </div>
		  </div>
		  <div class="item">
		    <div class="content">
		      <div class="header">Added a "New Stuff" menu!</div>
		      <div class="description">August 29th</div>
		    </div>
		  </div>
		</div>
  </div>
	<div class="actions">
		<div class="ui cancel right labeled icon button">
		  Done
		  <i class="checkmark icon"></i>
	  </div>
	</div>
</div>
