<div class="ui fluid action input">
  <input type="text" placeholder="Property name ..." id="add-property-name">
  <div class="ui button" {{action "addPropertyButtonClick"}} id="add-property-button">Add New Property</div>
</div>
