{{#each componentData as |property|}}

<div class="ui grid">
	<div class="one wide column"></div>
	<div class="fourteen wide column">
		<div class="ui segment property-list-blade">
			<div class="ui top attached indicating progress" data-percent="{{property.percentage}}">
				<div class="bar"></div>
			</div>
			<div class="ui two column stackable grid">
				<div class="sixteen wide column">
					<div class="property-description">
						<div class="ui grid">
							<div class="four wide column">
								<div {{action "viewParties" property contactList}} title="Click to view the party members on this closing." class="ui animated basic button title-popup" tabindex="0" >
									<div class="visible content"><i class="fa fa-users" aria-hidden="true"> </i></div>
									<div class="hidden content">
										Party
									</div>
								</div>
								<div class="ui basic simple dropdown button">
									<center><i class="fa fa-bars" aria-hidden="true"></i></center>
									<div class="menu">
										{{#if property.canBeModified}}
											<a {{action "confirmArchiveProperty" property}} class="item">Archive</a>
										{{/if}}
										<a {{action "viewTasks" property}} class="item">View Tasks</a>
										<a {{action "viewPropertyInfo" property}} class="item">Edit Info</a>
									</div>
								</div>
							</div>
							<div class="one wide column"></div>
							<div class="six wide column">
								<center>
									<span style="display: none;" class="property-data">{{property.propId}}|{{property.company}}</span>
									<span style="font-weight: 400; color: #7974F7 !important;" class="title-popup" title="Click to edit the street name.">{{input type="text" class="invisible-input street" value=property.street}}</span>
									<br/>
									{{#if property.city}}
										<span class="date" style="color: #A3A3A3;">{{property.city}}{{#if property.state}}, {{property.state}}{{/if}}</span>
									{{/if}}
									<div>
										<span data-property={{property.propId}} data-company={{property.company}} style="display: none;"></span>
										{{input type="text" data-property=property.propId data-company=property.company title="Click to edit the close date." class="invisible-input close-date title-popup" value=(moment-format property.closedate 'MMM DD, YYYY')}}
									</div>
								</center>
							</div>
							<div class="one wide column"></div>
							<div class="four wide column">
								<div style="font-size: 20px; width: 100%; text-align: right;"><span style="color: {{property.color}};">{{property.percentage}}%</span></div>
								<div style="font-size: 15px; color: #A3A3A3; width: 100%; text-align: right;">{{property.count}}</div>
							</div>
						</div>
					</div>
						<div id="property-has-party-{{property.propId}}" style={{unless property.party "display: none;"}}>
							<div class="ui four stackable cards">
								{{#each property.docDrops as |docDrop|}}
									<div class="ui card button">
										<div class="content" style="min-width: 200px;">
											<div class="header" data-docdropid={{docDrop.doctype}} style="font-size: 15px !important;">{{docDrop.name}}</div>
										</div>
										<div class="extra content" style="min-width: 200px;">
											{{#if docDrop.docExists}}
												{{#if docDrop.canRead}}
													<a href={{docDrop.url}} target="_blank">
														<div class="empty-doc-drop" style="border-radius: 7px; width: 85px; height: 90px; margin: auto; padding-top: 8px; border: 1px solid #BBB;">
															<i class="fa fa-file-text-o fa-5x" title="Click to view this document." style="color: #4A4A4A;" aria-hidden="true"></i>
														</div>
													</a>
												{{else}}
													<div class="empty-doc-drop" style="border-radius: 7px; width: 85px; height: 90px; margin: auto; padding-top: 8px; border: 1px solid #BBB;">
														<i class="fa fa-file-text-o fa-5x" style="color: #949494;" aria-hidden="true"></i>
														<i class="fa fa-lock fa-5x" title="You do not have permissions to view this document." style="color: rgba(35, 35, 35, 0.8); z-index: 2; position: relative; bottom: 70px; z-index: 1;" aria-hidden="true"></i>
													</div>
												{{/if}}
											{{else}}
												{{#if docDrop.canUpdate}}
													<div class="empty-doc-drop fileinput-button upload-button" style="border-radius: 7px; width: 85px; height: 90px; margin: auto; margin-bottom: -12px; padding-top: 15px; border: 1px solid #CCC;">
														{{dragAndDropInput property.company property.propId docDrop.doctype docDrop.user}}
														<i class="fa fa-plus fa-4x" style="color: #21BA45;" aria-hidden="true"></i>
													</div>
													<div style="color: #21BA45; display: none;">
														<i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
													</div>
													<div class="upload-progress-wrapper">
														{{uploadProgressBar property.propId}}
													</div>
													<a class="new-document-link" target="_blank">
														<div class="empty-doc-drop" style="border-radius: 7px; width: 85px; height: 90px; margin: auto; padding-top: 8px; border: 1px solid #BBB; display: none;">
															<i class="fa fa-file-text-o fa-5x" title="Click to view this document." style="color: #4A4A4A;" aria-hidden="true"></i>
														</div>
													</a>
												{{else}}
													<div class="empty-doc-drop" style="border-radius: 7px; width: 85px; height: 90px; margin: auto; padding-top: 15px; border: 1px solid #BBB;">
														<i class="fa fa-plus fa-4x" style="color: #949494;" aria-hidden="true"></i>
														<i class="fa fa-lock fa-5x" title="You do not have permissions to add a document to this drop. Have you added yourself as a party member?" style="color: rgba(35, 35, 35, 0.8); z-index: 2; position: relative; bottom: 60px; z-index: 1;" aria-hidden="true"></i>
													</div>
												{{/if}}
											{{/if}}
											<div id="hidden-docdrop-buttons-{{property.propId}}">
												<br/>
												<div class="ui grid">
													<div class="eight wide column">
														{{#if docDrop.canUpdate }}
															<div {{action "viewPermissions" docDrop}} class="ui fluid button title-popup" style="padding-left: 0px; padding-right: 0px; text-align: center;" title="Click to view the permissions associated with this document drop." tabindex="0">
																Permissions
															</div>
														{{else}}
															<div class="ui fluid button title-popup" title="You do have rights to view or edit the permissions. " tabindex="0">
																<i class="fa fa-lock" aria-hidden="true"> </i>
															</div>
														{{/if}}
													</div>
													<div class="eight wide column">
														<div class="ui simple fluid dropdown button">
															<center>Options</center>
															<div class="menu">
																{{!-- <a class="item">Download</a> --}}
																<a {{action "viewQuickShare" property docDrop}} class="item">Share</a>
																{{#if docDrop.isMine}}
																	<a {{action "deleteDrop" property docDrop}} class="item">Delete Document Drop</a>
																{{/if}}
																{{#if docDrop.docExists}}
																	{{#if docDrop.canUpdate}}
																		<a {{action "deleteDocument" property docDrop}} class="item">Delete Document</a>
																	{{/if}}
																{{/if}}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
								 </div>
								{{/each}}
								<div class="ui card button">
									<div class="content">
										<div class="header">Create a Drop</div>
										{{#if property.userInParty}}
											<br>
											<br>
											<center>
												<h3>To create a drop, select the document type that you want.</h3>
											</center>
										{{else}}
											<br>
											<br>
											<center>
												<h3>To create a drop, add yourself to this closing.</h3>
											</center>
										{{/if}}
									</div>
									<div class="extra content">
										{{#if property.userInParty}}
											<select class="ui search selection dropdown add-new-drop-dropdown" data-company={{property.company}} data-propId={{property.propId}} id="new-drop-{{property.company}}-{{property.propId}}">
												<option value="empty">Select Document Type</option>
												{{#each doctypes as |docType|}}
													{{docTypesDropdown docType.name docType.docTypeId property.docDrops}}
												{{/each}}
											</select>
											<br/>
											<br/>
											<i {{ action "addDrop" property }} class="fa fa-plus-circle fa-4x add-button" id="add-doc-{{property.company}}-{{property.propId}}" title="Click to create a document type." aria-hidden="true"></i>
										{{else}}
											{{ unassigned-to-property-drop
												property=property
												refreshData="refreshData"
											}}
										{{/if}}
									</div>
								</div>
							</div>
						</div>
						<div id="property-has-no-party-{{property.propId}}" style={{if property.party "display: none;"}}>
							<br>
							<br>
							<center>
								<i class="fa fa-exclamation fa-3x" aria-hidden="true"></i>
								<br>
								It looks like you have no party members on this property.
								<br>
								Click here to add one.
								<br>
								<br>
								<button {{ action "viewParties" property contactList }} class="ui inverted green button">Add Party Member</button>
							</center>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="one wide column"></div>
</div>

{{/each}}

{{!-- MODALS --}}
{{ archive-property-modal archiveProperty="archiveProperty" }}
{{ edit-document-permissions-modal docDrop=docDrop }}
{{ edit-property-info-modal saveChangesToProperty="saveChangesToProperty" }}
{{ task-list-modal addTask="addTask" refreshData="refreshData" }}
{{ manage-party-modal
	viewContacts="viewContacts"
	contactList=contactList
	saveChangesToParty="saveChangesToParty"
	addParty="addParty"
}}
{{ quick-share-modal contactList=contactList }}
