<div class="ui modal small" id="quick-share-box">
	<i class="close icon"></i>
		<div class="header">
		<h2 class="ui header">
			<i class="fa fa-users fa-2x modal-header-icon" aria-hidden="true"></i>
			<div class="content">
				<span id="quick-share-header"></span>
				<div class="sub header">Add a user to this document</div>
			</div>
		</h2>
	</div>
	<div class="content">
		<div class="ui two column middle aligned stackable grid">
			<div class="column">
				<center><h4>In My Contact List</h4></center>
				<br>
				<div class="successful-event" id="successful-quick-add-notification">Successfuly shared this document with your contact!</div>
				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui fluid action input">
							<select class="ui selection dropdown add-new-party-contact-list" id="add-contact-to-party">
								{{#each contactList as |contact|}}
									<option value="{{contact.contactId}}">{{contact.firstname}} {{contact.lastname}}</option>
								{{/each}}
							</select>
							<select id="add-contact-role" class="ui selection compact dropdown manage-party-user-dropdown">
								<option value="empty" selected="">Select Role</option>
								<option value="1">Realtor</option>
								<option value="2">Title Agent</option>
								<option value="3">Lender</option>
								<option value="4">Attorney</option>
								<option value="5">Regulator</option>
								<option value="6">Service Provider</option>
								<option value="7">Other</option>
							</select>
						</div>
					</div>
				</div>
				<center>
					<br>
					<br>
					<br>
					<br>
					<br>
					<div class="ui input">
							<div {{action "addParty"}} type="submit" class="ui positive button" style="padding-left: 34px; padding-right: 34px;"><i class="fa fa-user-plus" aria-hidden="true" style="padding-right: 10px;"></i> Share </div>
					</div>
				</center>
			</div>
			<div class="column">
				<center><h4>Invite a User</h4></center>
				<br>
				<div class="successful-event" id="successful-quick-invite-notification">User Sucessfully Invited!</div>
				<div class="ui grid">
					<div class="eight wide column">
						<div class="ui fluid input">
							<input type="text" id="quick-invite-user-email" placeholder="Email">
						</div>
					</div>
					<div class="eight wide column">
						<select id="quick-invite-user-role" class="ui selection fluid dropdown manage-party-user-dropdown">
							<option value="empty" selected="">Select Role</option>
							<option value="1">Realtor</option>
							<option value="2">Title Agent</option>
							<option value="3">Lender</option>
							<option value="4">Attorney</option>
							<option value="5">Regulator</option>
							<option value="6">Service Provider</option>
							<option value="7">Other</option>
						</select>
					</div>
				</div>
				<div class="ui grid">
					<div class="eight wide column">
						<div class="ui fluid input">
							<input type="text" id="quick-invite-user-first-name" placeholder="First Name">
						</div>
					</div>
					<div class="eight wide column">
						<div class="ui fluid input">
							<input type="text" id="quick-invite-user-last-name" placeholder="Last Name">
						</div>
					</div>
				</div>
				<center>
					<br>
					<div {{action "inviteUser"}} type="submit" class="ui positive button" style="padding-left: 34px; padding-right: 34px;"><i class="fa fa-share-alt" aria-hidden="true" style="padding-right: 10px;"></i> Invite </div>
				</center>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui cancel right labeled icon button">
			<i class="check icon"></i>
			Done
		</div>
	</div>
</div>
