<div class="ui small modal" id="change-password-box" style="margin-top: -230px; width: 350px; margin-left: -14%;">
  <i {{action "hideModals" }} class="close icon"></i>
	<div class="header">Reset Your Password</div>
	<div class="content">
		<div id="change-password-content">
			<div class="main-error-message" id="change-password-error-message">
				Something went wrong.
				<br>
				Try again.
			</div>
			<div class="ui large fluid icon input">
				<input type="password" id="change-password-password" placeholder="Password">
				<i class="unlock alternate icon"></i>
			</div>
			<br>
			<div class="ui large fluid icon input">
				<input type="password" id="change-password-confirm-password" placeholder="Confirm Password">
				<i class="unlock alternate icon"></i>
			</div>
			<br>
		</div>
	  <div id="change-password-loader" class="ui active loader" style="display: none;"></div>
	  <div id="change-password-success">
	  	You successfuly reset your password.
	  	<br>
	  	Please log in.
  	</div>
		<br>
		<br>
		<center id="change-password-button-wrapper">
			<button class="ui green button" {{action "showLoginModal"}} id="change-password-login-button" style="display: none;">Log In</button>
			<button class="ui green button" {{action "resetPassword" sessionToken}} id="change-password-button" disabled="disable">Reset Password</button>

		</center>
	</div>
</div>




