<div class="ui modal small" id="site-stats-box">
  <i class="close icon"></i>
	<div class="header">
		<h2 class="ui header">
  	  <i class="fa fa-bar-chart fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    Analytics Dashboard
		    <div class="sub header">Data should win over opinions. Every time.</div>
		  </div>
		</h2>
	</div>
	<div class="content">
		<center><h2 class="ui header">This Week</h2></center>
		<br/>
		<div class="ui two statistics">
		  <div class="statistic">
		    <div class="value">
		      {{statistics.active}}
		    </div>
		    <div class="label">
		      Active Users
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      {{statistics.reg}}
		    </div>
		    <div class="label">
		      New Accounts
		    </div>
		  </div>
		</div>
		{{!-- <br/>
		<br/>
		<center><h2 class="ui header">This Month</h2></center>
		<br/>
		<div class="ui four statistics">
		  <div class="statistic">
		    <div class="value">
		      11
		    </div>
		    <div class="label">
		      Successful Closings
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      17
		    </div>
		    <div class="label">
		      Invites Sent
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      38
		    </div>
		    <div class="label">
		      Properties Added
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      64
		    </div>
		    <div class="label">
		      Accounts Created
		    </div>
		  </div>
		</div> --}}
  </div>
	<div class="actions">
		<div class="ui grid">
			<div class="eight wide column"></div>
			<div class="eight wide column">
				<div class="ui grid">
					<div class="nine wide column">
					</div>
					<div class="seven wide column">
		    		<div class="ui positive right labeled icon button">
		    		  Done
		    		  <i class="checkmark icon"></i>
		    		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
