<div class="ui modal small" id="task-list-box">
  <i class="close icon" {{ action "refreshData" }} ></i>
	<div class="header">
		<h2 class="ui header">
  	  <i class="fa fa-list fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
		    <span id="task-list-header"></span>
		    <div class="sub header">Manage your to-do list for this closing</div>
		  </div>
		</h2>
	</div>
	<div class="content">
		<div class="ui middle aligned divided list" id="task-list-list"></div>
		<center>
			<div class="ui action input">
		  	<input type="text" id="new-task-description" placeholder="New Task ...">
		  	<button {{ action "addTask" }} id="new-task-add-button" class="ui button green">Add</button>
			</div>
		</center>
  </div>
	<div class="actions">
		<div {{ action "refreshData" }} class="ui cancel right labeled icon button">
		  Done
		  <i class="checkmark icon"></i>
	  </div>
	</div>
</div>
