<div class="ui modal" id="terms-and-conditions-box" style="margin-top: -350px;">
	<i {{action "hideTermsAndConditions" }} class="close icon"></i>
	<div class="header">
		<h2 class="ui header">
  	  <i class="fa fa-gavel fa-2x modal-header-icon" aria-hidden="true"></i>
		  <div class="content">
				Our Terms & Conditions
		  </div>
		</h2>
	</div>
	<div class="content" style="color: black; overflow-y: scroll; height: 500px;">

		Welcome to Closing Docket
		Thank you for using Closing Docket! These terms of service (the "Terms") govern your access to and use of Closing Docket ("we" or "our") websites and services (the "Services").
		The Services are provided by Closing Docket, Inc. ("Closing Docket"), located at 2119 3rd Avenue North, Birmingham, AL 35023.
		Description of the Services
		We strive to give our users the best experience possible.
		The Closing Docket Services provide an environment to facilitate deals, but Closing Docket is not responsible or liable for any part of the underlying transaction.
		Our Services provide an interactive, Internet-based platform that lets users create, edit, negotiate, upload, download, share and sign documents and contracts on-line. An outline of the entire process, start to finish, of how documents are added, accessed and used inside our Services can be found here.
		These Terms govern use of the Services
		These Terms, which incorporate our Privacy Policy, constitute a legally-binding agreement between Closing Docket and you. By using the Services you agree to be bound by and comply with these Terms.
		YOU SHOULD READ THESE TERMS AND OUR PRIVACY POLICY CAREFULLY BEFORE USING THE SERVICES.
		These Terms apply to all users of the Services. You may use the Services only in compliance with these Terms. If you do not agree to be bound by and comply with these Terms, you may not use the Services.
		If you are using the Services on behalf of an organization, you are agreeing to these Terms for that organization and promising that you have the authority to bind that organization to these Terms. In that case, "you" and "your" will refer to both you as an individual and to that organization.
		Closing Docket owns the Services and associated content
		The Services and all associated content (including any derivatives of or enhancements to the same), and all intellectual property rights to the same (including trademarks, service marks, trade names, trade dress), that appear in connection with the Services, are owned by or licensed to Closing Docket.
		The Services are being licensed, not sold, to you by Closing Docket only for use under the Terms. You do not acquire any right, title or interest in or to the Services or any associated content other than the limited license granted to you by these Terms. Any rights not expressly granted to you in these Terms are expressly reserved.
		You own your Content
		In connection with your use of our Services you may submit documents and other content ("your Content") to the Services.
		Subject to ownership interests of third-parties, you will retain full ownership of your Content. We don't claim any ownership to any of your Content. These Terms do not grant us any rights to your Content or intellectual property except for the limited rights that are needed to run the Services.
		We may need to access or otherwise process your Content solely for purposes related to the Services. You agree that we have your permission to access or process your Content for such purposes. This permission extends to trusted parties we work with to provide the Services. Such processing includes technically administering our Services by, for example, backing up data or enabling documents in portable document format (PDF) to be edited.
		We will not knowingly share or allow anyone to access your Content other than as we describe in our Privacy Policy. It is yours and we work to keep it that way.
		Your Privacy
		Any information you provide to us is subject to our Privacy Policy, which is incorporated in these Terms and governs our collection and use of your information. By using the Services you consent to the collection and use of this information as provided by our Privacy Policy so, once again, please read that policy carefully.
		With limited exceptions identified in our Privacy Policy, we will not share your Content with others for any purpose unless you specifically authorize us to. The manner in which we collect and use your information generally is explained in our Privacy Policy.
		You acknowledge that Closing Docket has no obligation to monitor any information on the Services. We are not responsible for the accuracy, completeness, appropriateness, or legality of files or any other information you may be able to access using the Services.
		Sharing Your Content
		The Services provide features that allow you to share your Content with others. Please consider carefully what you choose to share. Closing Docket has no responsibility for that activity.
		Your Responsibilities
		You must be a registered subscriber to access the Services. You agree to provide true, accurate and complete registration information, and you will promptly provide an update if any of this information changes.
		You agree that you are responsible for not sharing, copying, or uploading forms or other files unlawfully or in violation of terms governing any third party content.
		You are solely responsible for your conduct, the content of your files and folders, and your communications with others while using the Services. For example, it's your responsibility to ensure that you have the rights or permission needed to comply with these Terms.
		By using the Services, you acknowledge that Closing Docket does not have any obligation to monitor any information on the Services. We are not responsible for the accuracy, completeness, appropriateness, or legality of files or any other content or information you may be able to access using the Services.
		You agree that you will not upload spyware or any other malicious software to the Services.
		You also agree that you will not transmit or otherwise provide any harmful or objectionable content, including content that (i) violates or infringes in any way upon the rights of others, such as any copyright, trademark, patent, trade secret, moral right, or other proprietary right of any person or entity, (ii) impersonates another or is fraudulent, unlawful, threatening, abusive, libelous, defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane, pornographic, abusive, or otherwise reasonably objectionable, or (iii) encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law.
		Please be aware that adding mortgage lenders or other settlement service providers could have implications under the Real Estate Settlement Procedures Act (RESPA). Closing Docket makes no representations about whether such arrangements comply with RESPA and is, in no way, responsible for any losses, penalties, or any other damages that could be incurred by or assessed against you or any other company or person for violations of RESPA and/or any other federal or state laws. We recommend that you consult with an attorney regarding the compliance of any arrangement with settlement service providers in regards to RESPA and/or other applicable laws.
		You, and not Closing Docket, are responsible for maintaining and protecting all of your Content. Closing Docket will not be liable for any loss or corruption of your Content, or for any costs or expenses associated with backing up or restoring any of your Content.
		The Services are not intended for use by you if you are under 18 years of age. By agreeing to these Terms, you are representing to us that you are at least 18 years old.
		Account Security
		Use of your subscription is personal to you or your organization, as applicable. Except as specifically permitted by these Terms, you may not resell, assign, distribute, transfer or otherwise provide your subscription, your Login ID and/or Password to any third party.
		You are solely responsible for safeguarding and maintaining the confidentiality of your Login ID and Password.
		You are also solely responsible for any activity using your account, whether or not you authorized that activity. You should immediately notify Closing Docket of any unauthorized use of your account.
		Fees
		The Services are currently subscription-based, but we reserve the right to implement other pricing models in the future. You agree to pay all applicable fees in connection with your subscription including any applicable taxes that we do not collect on your behalf.
		You must have a credit card to subscribe to the Services unless we otherwise agree in writing. Your credit card will be automatically charged for all fees incurred under your subscription and you agree that we are not required to send you any advance notice or confirmation that your credit card has been charged. If we are unable to charge a payment to your credit card or are otherwise unable to obtain payment for Services when due, we can immediately suspend or terminate your access to the Services until we receive payment from you.
		Current fees for individual subscriptions will be posted on our website, but special fee arrangements (e.g., enterprise fees) will not be posted.
		We reserve the right to modify our fees at any time for any reason upon notice to you through posting on our website or notification by email. Any increase in fees will be prospective only, beginning with the next subscription period.
		We may from time to time add offerings or services for which we may charge additional fees. We will not charge you for such additional offerings or services without first obtaining your consent.
		Closing Docket property and feedback
		These Terms do not grant you any right, title, or interest in or to the Services or the associated content. We appreciate it when users send us feedback, but please be aware that we may freely use any feedback, comments, or suggestions you send us without any obligation to you.
		The Services are protected by copyright, trademark, patent and other laws of both the United States and foreign countries. These Terms do not grant you any rights to use the Closing Docket trademarks, logos, domain names, or other brand features.
		Copyright
		Closing Docket respects others' intellectual property rights and we ask that you do too. We will respond to notices of alleged copyright infringement if they comply with the law and are properly provided to us. Such notices should be reported using our DMCA Process. We reserve the right to delete or disable content alleged to be infringing and to terminate repeat infringers.
		Our Designated Agent for notice of alleged copyright infringement on the Services is:
		CRAIG LAWRENCE
		2119 3RD AVENUE NORTH
		BIRMINGHAM, AL 35203
		Availability Of The Services
		We try our best to have the Services available 24 hours a day, 7 days a week. There may still be times when the Services are unavailable for routine maintenance, to correct technical difficulties, or for some other reason. Availability of the Services is subject to change at any time in our sole discretion.
		Third-party content and links
		We may provide third-party content through the Services. Any such content represents the opinions, judgments, and offerings of the third-party, not Closing Docket. We do not endorse, and are not responsible in any way for, any such content and we expressly disclaim any endorsement or responsibility for such content. The Services utilize Google Maps Application Programming Interface (API) and by using the Services, you agree to be bound by Google's Terms of Service.
		Links to other websites are provided for your convenience and reference only. We have no control of these sites, and we are not responsible for their content. We do not endorse, and are not responsible in any way for, any content on these sites and we expressly disclaim any endorsement or responsibility for such content.
		Please note that, when you travel from the Services to another website, whether through links provided on the Service or otherwise, you will be subject to the privacy policies (or lack thereof) of these sites. We caution you to use good judgment and to determine the privacy policy of these sites before you provide any personal information.
		Termination
		The provisions in this "Termination" section apply only to you if you are not paying for the Services and no one is paying for you to have the right to use the Services.
		These Terms are effective until terminated by you or us by three (3) days prior written notice. Upon termination, your subscription will automatically end and you must stop using the Services.
		You are free to stop using our Services any time by providing us with written notice at support@Closing Docket.com.
		We reserve the right to suspend or end the Services at any time, with or without cause, and with or without notice. For example, we may suspend or terminate your use if you are not complying with these Terms, or if you use the Services in any way that would cause us legal liability or disrupt others' use of the Services.
		If we suspend or terminate your use, we will try to let you know in advance and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend or terminate your use immediately. We reserve the right to delete any or all data files associated with your subscription, in our sole discretion, upon suspension or termination of your subscription.
		Survival
		The provisions of these Terms which by their nature should survive suspension or termination of your subscription shall survive, including the provisions in the "Miscellaneous" section or relating to intellectual property ownership, your obligation to pay fees, disclaimers, limitations of liability, arbitration, class actions, or jury trials.
		Our Services Are Provided "AS-IS"
		THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, FOR USE BY YOU AT YOUR OWN RISK, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. WITHOUT LIMITING THE FOREGOING AND TO THE FULLEST EXTENT PERMITTED BY LAW, Closing Docket, AND ITS OFFICERS, DIRECTORS, EMPLOYEES, ANY PARENT COMPANIES, PARTNERS, SUCCESSORS, AGENTS,DISTRIBUTION PARTNERS, AFFILIATES, SUBSIDIARIES, CONTENT PROVIDERS, SERVICE PROVIDERS,VENDORS, LICENSORS, MERCHANTS, RELATED COMPANIES, ADVISORY BOARDS, REPRESENTATIVES,AND SUPPLIERS (COLLECTIVELY THE "Closing Docket ENTITIES") DISCLAIM ANY AND ALL WARRANTIES,EXPRESS AND IMPLIED, INCLUDING ANY: (1) WARRANTIES THAT THE SERVICES WILL MEET YOUR REQUIREMENTS OR ACHIEVE CERTAIN RESULTS; (2) WARRANTIES CONCERNING THE AVAILABILITY,ACCURACY, SECURITY, USEFULNESS, TIMELINESS, OR COMPLETENESS OF INFORMATIONAL CONTENT MADE AVAILABLE THROUGH THE SERVICES; AND (3) WARRANTIES OF TITLE, NON-INFRINGEMENT,MERCHANTABILITY OR SATISFACTORY QUALITY, AND FITNESS FOR A PARTICULAR PURPOSE.
		Limitation of Liability
		TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL Closing Docket OR THE Closing Docket ENTITIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL(INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, REGARDLESS OF LEGAL THEORY,WHETHER OR NOT Closing Docket OR THE Closing Docket ENTITIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE, ARISING OUT OF, RELATING TO, OR IN ANY WAY CONNECTED WITH THE SERVICES OR THESE TERMS OF USE WHETHER DIRECTLY OR INDIRECTLY. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SERVICES IS TO STOP USING THE SERVICES AND, IF APPLICABLE, CANCEL YOUR SUBSCRIPTION.
		NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, IN NO EVENT SHALL THE CUMULATIVE LIABILITY OF Closing Docket OR THE Closing Docket ENTITIES EXCEED THE GREATER OF (1) THE TOTAL PAYMENTS RECEIVED FROM YOU BY Closing Docket DURING THE TWELVE (12) MONTH PERIOD PRECEDING YOUR CLAIM, IF ANY; OR (2) $500.00. FURTHERMORE, YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF, RELATING TO, OR IN ANY WAY CONNECTED WITH ANY ACCESS OR USE OFTHE SERVICES OR THESE TERMS MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES; OTHERWISE, SUCH CAUSE OF ACTION SHALL BE PERMANENTLY BARRED.
		Some jurisdictions do not permit limitations of liability and in those jurisdictions some of the foregoing limitations may not apply to you. These limitations shall apply to the fullest extent permitted by law.
		Indemnification
		You agree to indemnify and hold harmless Closing Docket and the Closing Docket Entities from and against any and all claims, liabilities, losses, damages, obligations, costs and expenses (including reasonable attorneys' fees and costs) brought by third-parties arising out of, related to, or that may arise in connection with any actual or alleged violation or breach of any of the representations, warranties, agreements or promises made by you herein.
		You also agree to cooperate fully with us in the defense of any claim that is the subject of your obligations hereunder.
		Modifications
		We may revise these Terms from time to time and the most current version will always be posted on our website. Other changes may be posted to our terms page, so please check those pages regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, you agree to stop using the Services.
		If there is a dispute about the Terms or the Services, the Terms in effect at the time the dispute arose shall apply.
		Arbitration
		You and Closing Docket each agree to first contact each other with any disputes and provide a written description of the problem, all relevant documents or information and the proposed resolution. You agree to contact us with disputes by contacting us at the address provided in these Terms. We will contact you based on the contact information you have provided us.
		If you and Closing Docket cannot resolve any dispute after 30 days, the party seeking to pursue a claim will submit the claim to arbitration consistent with this section. The parties understand that they would have had a right or opportunity to litigate disputes through a court and to have a judge or jury decide their case, but they choose to have any disputes resolved through arbitration.
		Any claim or dispute between you and Closing Docket, and any claim by either against any agent, employee, successor, or assign of the other, including third parties, whether related to these Terms or otherwise, including past, present, and future claims and disputes, and including any dispute as to the validity or applicability of this arbitration clause, shall be resolved by binding arbitration administered by the JAMSbunder its rules and procedures in effect when the claim is filed. The rules and procedures and other information, including information on fees, may be obtained from JAMS' website (www.jamsadr.com) or by calling JAMS at 949-224-1810.
		You agree that receiving the Services is a transaction involving interstate commerce. These Terms and any related arbitration proceedings will be governed by the Federal Arbitration Act. Any award by the arbitrator(s) may be entered as a judgment in any court having jurisdiction.
		Either You or Closing Docket may bring applicable claims in small claims court. Also, you and Closing Docket each agree that any arbitration will be solely between you and us, not as part of a classwide claim. If any court or arbitrator determines that this classwide restriction is unconscionable or unenforceable, then our agreement to arbitrate doesn't apply and the classwide dispute must be brought in court.
		No Class Actions
		TO THE EXTENT ALLOWED BY LAW, YOU AND Closing Docket EACH WAIVE ANY RIGHT TO PURSUE DISPUTES ON A CLASSWIDE BASIS; THAT IS, TO EITHER JOIN A CLAIM WITH THE CLAIM OF ANY OTHER PERSON OR ENTITY, OR ASSERT A CLAIM IN A REPRESENTATIVE CAPACITY ON BEHALF OF ANYONE ELSE IN ANY LAWSUIT, ARBITRATION OR OTHER PROCEEDING.
		No Jury Trial
		TO THE EXTENT ALLOWED BY LAW, YOU AND Closing Docket EACH WAIVE ANY RIGHT TO TRIAL BY JURY IN ANY LAWSUIT, ARBITRATION OR OTHER PROCEEDING.
		Miscellaneous Legal Terms
		THESE TERMS AND THE USE OF THE SERVICES WILL BE GOVERNED BY OHIO LAW EXCEPT FOR ITS CONFLICTS OF LAWS PRINCIPLES. ALL CLAIMS ARISING OUT OF OR RELATING TO THESE TERMS OR THE SERVICES THAT ARE NOT GOVERNED BY THE ARBITRATION CLAUSE MUST BE LITIGATED EXCLUSIVELY IN THE FEDERAL OR STATE COURTS LOCATED IN JEFFERSON COUNTY, ALABAMA, AND BOTH PARTIES CONSENT TO VENUE AND PERSONAL JURISDICTION THERE.
		These Terms constitute the entire and exclusive agreement between you and Closing Docket with respect to the Services, and supersede and replace any other agreements, terms and conditions applicable to the Services. If you are paying for the Services or someone is paying for the Services on your behalf, the previous sentence does not apply and you remain subject to the terms of all agreements with Closing Docket related to your use of the Services.
		These Terms create no third party beneficiary rights.
		Our failure to enforce a provision of these Terms is not a waiver of our right to do so later.
		If a provision of these Terms is found unenforceable the remaining provisions will remain in full force and effect, and an enforceable term will be substituted reflecting our intent as closely as possible.
		You may not assign any of your rights in these Terms, and any such attempt is void.
		Closing Docket may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.
		Closing Docket and you are not legal partners or agents; instead, our relationship is that of independent contractors.
		Electronic signature consent
		Before we can accept your personal information and allow you to sign and submit documents electronically, you need to be aware of the following information and must affirmatively agree to the following:
		1) Your responses to all questions throughout either electronic process will be recorded and made part of your electronically signed documents.
		2) As part of the use of electronic signatures, you will be required to create a log-in and password for future use, consisting of your unique username and a password specifically chosen by you. You must keep your password confidential as it can be used to electronically sign additional documents.
		3) You can return to our website at any time (using your login information) to review, save, and print the documents you signed electronically.
		4) You have read and agree with the verification and security procedures in our Privacy Policy and the Terms.
		By signing up for a Closing Docket account and using our services, you acknowledge and agree to all of the following:
		-You have read and understood the Terms;
		-You agree that your electronic signature is the equivalent of a manual signature and that we may rely on it as such in connection with any and all agreements you may enter into using the Services and any documents you electronically sign using the Services;
		-You acknowledge and agree that it is your obligation to immediately advise us of any change in your electronic address (i.e., email address);
		-You acknowledge and agree that it is your obligation to immediately advise us in the event that you withdraw your consent to use electronic means for use of Services;
		-You agree to the Terms set forth above;
		-You acknowledge and agree that the various security and verification procedures adopted by us in the Privacy Policy in connection with the documents to which you will affix your electronic signature constitute reasonable and secure security procedures; and
		-You acknowledge and agree that in the event that any person known to you (whether it be a family member, member of your household, or otherwise) misappropriates any of the security devices connected with your Closing Docket login/electronic signature account and such misappropriation could not reasonably be detected by us, we shall have the right to treat all resulting electronic signatures as though they were affixed by you.
	</div>
	<div class="actions">
		<div {{action "hideTermsAndConditions"}} class="ui deny right button">
			Done
		</div>
	</div>
</div>




