<h4>For this closing, I am a ...</h4>
<select class="ui selection fluid dropdown add-current-user-dropdown add-current-user-to-party-dropdown-{{property.propId}}">
	<option value="">Select a Role</option>
	<option value="1">Lender</option>
	<option value="2">Mortgage Broker</option>
	<option value="3">Buyer Agent</option>
	<option value="4">Listing Agent</option>
	<option value="5">Title Agent</option>
	<option value="6">Buyer</option>
	<option value="7">Seller</option>
	<option value="8">Regulator</option>
	<option value="9">Service Provider</option>
	<option value="10">Settlement Agent</option>
	<option value="11">Associate</option>
</select>
<br>
<div {{action "addCurrentUserToParty" property }} type="submit" class="ui positive fluid button disabled">Add Me to This Closing</div>
