<div class="ui modal small" id="upgrade-account-box">
  <i class="close icon" ></i>
    <div class="header">
        <h2 class="ui header">
      <i class="fa fa-arrow-circle-up fa-2x modal-header-icon" aria-hidden="true"></i>
          <div class="content">
            Upgrade to <strong>Enterprise</strong>
            <div class="sub header">Unlock unlimited properties and manage unlimited documents.</div>
          </div>
        </h2>
    </div>
    <div class="content">
        <form class="ui form">
          <h4 class="ui dividing header">Billing Information</h4>
          <div class="field">
            <label>Name</label>
            <div class="two fields">
              <div class="field">
                <input type="text" id="firstname" placeholder="First Name">
              </div>
              <div class="field">
                <input type="text" id="lastname" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="field">
            <label>Billing Address</label>
            <div class="fields">
              <div class="twelve wide field">
                <input type="text" id="street" placeholder="Street Address">
              </div>
              <div class="four wide field">
                <input type="text" id="street2" placeholder="Apt #">
              </div>
            </div>
          </div>
          <div class="two fields">
              <div class="field">
                <label>City</label>
                <input type="text" id="city" placeholder="City">
              </div>
              <div class="field">
                <label>State</label>
                <select class="ui fluid dropdown" id="state">
                  <option value="">State</option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
              </select>
              </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Country</label>
              <div class="ui fluid search selection dropdown">
                <input type="hidden" name="country">
                <i class="dropdown icon"></i>
                <div class="default text">Select Country</div>
                    <div class="menu">
                        <div class="item" data-value="us"><i class="us flag"></i>United States</div>
                    </div>
                </div>
            </div>
            <div class="field">
              <label>ZIP Code</label>
              <input type="text" id="zipcode" placeholder="ZIP Code">
            </div>
          </div>
          <h4 class="ui dividing header">Payment Information</h4>
          <div class="field">
            <label>Card Type</label>
            <div class="ui selection dropdown">
              <input type="hidden" id="cardtype">
              <div class="default text">Type</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="visa">
                  <i class="visa icon"></i>
                  Visa
                </div>
                <div class="item" data-value="amex">
                  <i class="amex icon"></i>
                  American Express
                </div>
                <div class="item" data-value="discover">
                  <i class="discover icon"></i>
                  Discover
                </div>
              </div>
            </div>
          </div>
          <div class="fields">
            <div class="seven wide field">
              <label>Card Number</label>
              <input type="text" id="number" maxlength="16" placeholder="Card #">
            </div>
            <div class="three wide field">
              <label>CVC</label>
              <input type="text" id="cvc" maxlength="3" placeholder="CVC">
            </div>
            <div class="six wide field">
              <label>Expiration</label>
              <div class="two fields">
                <div class="field">
                  <select class="ui fluid search dropdown" id="expmth">
                    <option value="">Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>
                <div class="field">
                  <input type="text" id="expyr" maxlength="4" placeholder="Year">
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>

    <div class="actions">
        <div class="ui cancel right labeled icon button">
            Nevermind
            <i class="cancel icon"></i>
        </div>
        <div {{action "processCard" }} class="ui positive right labeled icon button">
            Upgrade to Enterprise
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
