@import "global/variables";
@import "global/font-awesome/font-awesome";
@import "login/login-main";
@import "login/getting-started";
@import "index/index-main";
@import "index/jquery-ui";
@import "index/datepicker-theme";
@import "quiz/main";

html, body {
  background-color: #FAFAFA;
  height: 100%;
  font-family: "Roboto";
  font-weight: 300;
}

.no-borders {
  border: none !important;
}

#loader {
  padding-top: 8px;
  width: 150px;
  text-align: center;
}

.ui.dropdown {
  transition: all 0.5s;
}

#change-password-success {
  width: 100%;
  color: white;
  display: none;
  background-color: green;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

a {
	padding-bottom: 0px;
}

.modal-header-icon {
  padding: 4px;
}

.list-item {
	font-size: 30px !important;
  line-height: 30px !important;
	padding-bottom: 20px !important;
	margin-left: 45px;

}

.ui.checkbox .box:before, .ui.checkbox label:before {
  // position: relative;
  // top: 5px;
  // margin-top: 7px;
}

.hidden.menu {
  display: none;
}

#pricing-header {
    background: url("/assets/images/villa-dark.jpg");
    background-size: cover;
}

#landing-page-header {
	background: url("/assets/images/home-comp.jpg");
  background-size: cover;
}

#features-masthead {
	background: url("/assets/images/colorado-home-comp.jpg");
	background-position: 50% 10%;
	background-size: cover;
}

#about-us-masthead {
  background: url("/assets/images/team2-comp.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

#security-masthead {
  background: url("/assets/images/server-room-comp.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

#faq-masthead {
  background: url("/assets/images/villa-dark-comp.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

#video-wrapper {
	background-color: #EBEBEB;
	width: 640;
	border: #CCC;
	border-radius: 5px;
	height: 360px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(25,25,25,0.8);
	-moz-box-shadow: 0px 0px 30px 0px rgba(25,25,25,0.8);
	box-shadow: 0px 0px 30px 0px rgba(25,25,25,0.8);
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
