#quiz-wrapper {
    background-image: url("images/home-comp.jpg");
    background-size: cover;
}

#upper-title {
    // margin-top: 40px;
    padding-top: 100px;
    color: white;
    padding-bottom: 100px;
    font-size: 40px;
    text-align: center;
    height: 300px;
}

.quiz-header {
    text-align: center;
    width: 100%;
    font-size: 30px;
    line-height: 1em;
}

.wrapper-box {
    padding: 40px !important;
}

.text-answer {
    text-align: center;
    font-size: 25px !important;
    height: 100px;
    padding-top: 40px !important;
}

.text-answer:hover {
    cursor: pointer;
}
