#finish-account-creation-panel {
    padding: 100px;
}

.upper-text {
    line-height: 1em;
    font-size: 35px;
}

.finish-form {
    // margin-top: 300px;
    position: absolute;
    bottom: 100px;
    width: 70%;
}

#pool-background {
    background-image: url("images/beverly-hills-optimized.jpg");
    background-size: cover;
    height: 1000px;
}

#confirm-email-panel {
    padding: 100px;
}
