body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

#reset-email-sent-content {
	width: 100%;
	background-color: #409E36;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	display: none;
}

.hidden.menu {
  display: none;
}

#landing-page-header {
	background-size: cover;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

#video-wrapper {
	background-color: #EBEBEB;
	// width: 100%;
	border: #CCC;
	border-radius: 5px;
	// height: 360px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(25,25,25,0.8);
	-moz-box-shadow: 0px 0px 30px 0px rgba(25,25,25,0.8);
	box-shadow: 0px 0px 30px 0px rgba(25,25,25,0.8);
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.dropdown {
	color: rgba(0, 0, 0, 0.27);
	border-radius: 5px;
	transition: all 0.5s;
	border: 1px;
}

.dropdown:focus {
	border: 1px solid rgb(133, 183, 217);
	color: rgba(0, 0, 0, 0.77);
}

#login-box {
	top: 170px;
	margin: auto;
	margin-left: -200px;
	width: 400px;
	position: absolute;
}

#create-account-box {
	top: 50px;
	width: 400px;
	margin: auto;
	margin-left: -200px;
	position: absolute;
}

#login-button {
	transition: color 0.5s;
}

#login-button:hover {
	color: #CCC;
	cursor: pointer;
}

.login #info-blurb {
	font-size: 25px;
	padding-top: 20px;
	color: white;
}

#login-blurb {
	padding-top: 20px;
}

#login-blurb #get-started-button {
	background-color: #4444D4;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 25px;
	transition: all 0.5s;
}

#login-blurb #get-started-button:hover {
	// color: darkgrey;
	// background-color: rgba(255, 255, 255, 0.4);
	background-color: #3D3D85;
	cursor: pointer;
}

.login #info-blurb .big {
	color: rgba(255, 255, 255, 0.5);
	font-size: 60px;
	text-align: center;
}

#sign-up-box {
	display: none;
	padding: 20px;
	width: 80%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	margin-top: 50px;
	transition: all 0.5s;
}

#create-account-button {
	margin: auto;
}

.main-error-message {
	width: 100%;
	background-color: rgba(150, 0, 0, 0.7);
	border-radius: 5px;
	text-align: center;
	color: white;
	margin-bottom: 10px;
	padding: 5px;
	display: none;
}

.create-account-error-message {
	width: 100%;
	background-color: rgba(150, 0, 0, 0.5);
	border-radius: 5px 5px 0px 0px;
	text-align: center;
	color: white;
	display: none;
}

.ui.modal#create-account-success-box {
	display: none;
	color: green;
	font-size: 35px;
	text-align: center;
	font-weight: 300;
	position: absolute;
	top: 160px;
	width: 500px;
	margin-left: -250px;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.smaller-text {
	font-size: 25px;
	font-weight: 100;
}

#validate-email-location {
	font-style: italic;
}

#loader {
	margin-top: 400px;
}

// Pricing
.pricing-box {
    font-size: 20px;
    padding: 40px;
}

#silver-plan {
    background-color: #F0F0F0;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid #CCC;
}

#gold-plan {
    background-color: #E8E8E8;
    border-radius: 0px 5px 5px 0px;
}

.plan-name {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.brand-blue {
    background-color: #706BE0 !important;
}

.brand-blue:hover {
    background-color: #4145D3 !important;
}

#login-inline-form {
    margin-top: 100px;
    color: white;
}

.inline-text {
    font-size: 25px;
}


// #login-brand-content {
// 	width: 100%;
// 	height: 200px;
// 	text-align: center;
// 	color: white;
// 	padding-top: 10px;
// }

// #login-company-name {
// 	padding-top: 10px;
// 	width: 100%;
// 	font-size: 35px;
// }

// #login-company-tagline {
// 	width: 100%;
// 	font-size: 25px;
// 	font-style: italic;
// }

// #login-logo {
// 	width: 100px;
// }

// #login-logo-wrapper {
// 	width: 100px;
// 	margin: auto;
// }

// #login-video-wrapper {
// 	width: 640px;
// 	margin: auto;
// }

// #login-header-buttons {
// 	height: 53px;
// 	padding-right: 20px;
// }

// .login-header-button {
// 	float: right;
// 	color: white;
// 	padding: 10px;
// 	font-size: 20px;
// }
