.ui-widget {
	font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
	background: #29a2d9;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 1px 3px #252525;
}

.ui-datepicker {
	padding: 0;
}

.ui-datepicker-header {
	border: none;
	border-bottom: 1px solid #2d97cb;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
	margin-top: 1.5em !important;
	margin-bottom: 1em !important;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
	top: 1.7em !important;
	border:none !important;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px !important;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px !important;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
	background-image: url(images/datepicker-icons.png) !important;
	background-position: -32px -32px !important;
	margin-top: 0 !important;
	top: 0 !important;
	font-weight: normal !important;
}

.ui-datepicker .ui-datepicker-prev span {
	background-position: -96px -32px !important;
}

.ui-datepicker .ui-datepicker-prev-hover span {
	background-position: -96px -48px !important;
}

.ui-datepicker .ui-datepicker-next-hover span {
	background-position: -32px -48px !important;
}

.ui-datepicker table {
	margin: 0 !important;
}

.ui-datepicker th {
	padding: 3em 0 !important;
	color: #9fd9f1 !important;
	font-size: 8px !important;
	font-weight: normal !important;
	text-shadow: 0 0 2px #45c4f8 !important;
	text-transform: uppercase !important;
	border: none !important;
	border-top: 1px solid #3fabdc !important;
}

.ui-datepicker td {
	border: none !important;
	padding: 0 !important;
}

td .ui-state-default {
	background: transparent !important;
	border: none !important;
	text-align: center !important;
	padding: 1em 0 !important;
	margin: 0 !important;
	font-weight: normal !important;
	color: #efefef !important;
	font-size: 12px !important;
}

td .ui-state-active,
td .ui-state-hover {
	background: #1b7fb0 !important;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
}
