.add-button {
	color: #BBB;
	position: relative;
	bottom: 0px;
	transition: all 0.3s;
	display: none;
}

.property-list-blade {
	background-color: #FCFCFC !important;
	box-shadow: 0px 2px 8px 0px rgba(119, 119, 119, 0.55);
	-moz-box-shadow: 0px 2px 8px 0px rgba(119, 119, 119, 0.55);
	-webkit-box-shadow: 0px 2px 8px 0px rgba(119, 119, 119, 0.55);
}

.ui.dropdown .item {
	color: #525252 !important;
}

#contact-list-box {
	z-index: 10000;
}

.property-description {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: white;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);

	// box-shadow: 0px 3px 11px 0px rgba(192, 192, 192, 0.75);
	// -moz-box-shadow: 0px 3px 11px 0px rgba(192, 192, 192, 0.75);
	// -webkit-box-shadow: 0px 3px 11px 0px rgba(192, 192, 192, 0.75);
}

.successful-event {
	width: 100%;
	text-align: center;
	color: white;
	background-color: green;
	padding: 5px;
	display: none;
	border-radius: 5px;
}

#successful-invite-notification {
	width: 100%;
	text-align: center;
	color: white;
	background-color: green;
	padding: 5px;
	display: none;
	border-radius: 5px;
}

.multiselect-dropdown-error {
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
	color: white;
	text-align: center;
	border-radius: 5px;
	background-color: #AD4040;
	display: none;
}

.upload-progress-wrapper {
	width: 100%;
	height: 10px;
}

.upload-progess {
	width: 0%;
	height: 10px;
	background-color: green;
	border-radius: 5px;
}

.add-button:hover {
	color: green;
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

.invisible-input {
	border: none;
	outline: none;
	width: 100%;
	border-radius: 5px;
	// background-color: #D8DCF2;
	font-size: 25px;
	text-align: center;
}

.close-date {
	text-align: center;
	font-size: 20px;
}

.invisible-input:hover {
	background-color: #F7F7F7;
	cursor: text;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px !important;
	direction: ltr;
	cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
	.fileinput-button input {
		filter: alpha(opacity=0);
		font-size: 100%;
		height: 100%;
	}
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
	margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
	background: url("../img/progressbar.gif") !important;
	filter: none;
}
.fileupload-process {
	float: right;
	display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../img/loading.gif") center no-repeat;
	background-size: contain;
}
.files audio,
.files video {
	max-width: 300px;
}

@media (max-width: 767px) {
	.fileupload-buttonbar .toggle,
	.files .toggle,
	.files .btn span {
		display: none;
	}
	.files .name {
		width: 80px;
		word-wrap: break-word;
	}
	.files audio,
	.files video {
		max-width: 80px;
	}
	.files img,
	.files canvas {
		max-width: 100%;
	}
}
