
<!-- Following Menu -->
<body>

<div class="landing-header">
	<div class="ui large top fixed hidden menu" id="login-header">
		<div class="ui container">
			<a {{ action "goToLogin" }} class="item">Getting Started</a>
			<a class="active item">Company</a>
			<a {{ action "goToFeatures" }} class="item">Features</a>
			{{!-- <a {{ action "goToSecurity"}} class="item">Security</a> --}}
			{{!-- <a {{ action "goToFAQ" }} class="item">FAQ</a> --}}
			<a {{ action "goToPricing" }} class="item">Pricing</a>
			<div class="right menu">
				<div class="item">
					<a {{ action "showLoginModal" }} class="ui button">Log in</a>
				</div>
				<div class="item">
					<a {{ action "showCreateAccountModal" }} class="ui primary button">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Contents -->
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment landing-header" id="about-us-masthead">

		<div class="ui container landing-header">
			<div class="ui large secondary inverted pointing menu no-borders">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				<a {{ action "goToLogin" }} class="item">Getting Started</a>
				<a class="active item">Company</a>
				<a {{ action "goToFeatures" }} class="item">Features</a>
				{{!-- <a {{ action "goToSecurity"}} class="item">Security</a> --}}
				{{!-- <a {{ action "goToFAQ" }} class="item">FAQ</a> --}}
				<a {{ action "goToPricing" }} class="item">Pricing</a>
				<div class="right item">
					<a {{ action "showLoginModal" }} class="ui inverted button">Log in</a>
					<a {{ action "showCreateAccountModal" }} class="ui inverted button">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="ui text container" style="max-width: 900px !important;">
			<div id="login-threshold">
				<h1 class="ui inverted header">
					It takes a dream
				</h1>
				<h2 style="font-weight: 100;">
					Developers and big thinkers changing an industry
				</h2>
				<div {{action "showCreateAccountModal"}} class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
			</div>
			{{create-account-modal createAccount="createAccount" hideModals="hideModals"}}
			{{login-modal login="login" showCreateAccountModal="showCreateAccountModal"}}
			{{create-account-success-modal hideModals="hideModals"}}
			{{forgot-password-modal hideModals="hideModals"}}
			{{terms-and-conditions-modal}}

		</div>

	</div>

	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="sixteen wide column">
					<h3 class="ui header">It started with a problem.</h3>
					<p>Closing Docket is transforming the way real estate closings are completed. Closing Docket was founded from clients who were tired of enduring an out of date process which required hundreds of emails to be passed around between settlment agents, title companies, real estate agents, sellers, buyers, and vendors. That's when it became clear that a change was needed.</p>
					<h3 class="ui header">Code and contracts.</h3>
					<p>The team was built upon the knowledge that technology and an understanding of the industry were needed. A custom product was built using powerful frameworks to solve an ever-growing problem for those who interact with real estate closings daily: version control, permissions, and security.</p>
					<h3 class="ui header">Just the beginning.</h3>
					<p>Closing Docket will take away the frustrations that clients deal with daily in every corner of the real estate industry by extending a friendly interface and powerful controls.</p>
				</div>
			</div>
			<div class="row">
				<div class="center aligned column">
					<a {{ action "goToFeatures" }} class="ui huge button">Learn More About What We Can Do for You</a>
				</div>
			</div>
		</div>
	</div>

	{{ footer-segment }}
</div>
</body>









{{#application-comp}}
	{{outlet}}
{{/application-comp}}


{{outlet}}
