
<!-- Following Menu -->
<body>

<div class="landing-header">
	<div class="ui large top fixed hidden menu" id="login-header">
		<div class="ui container">
			<a class="active item">Getting Started</a>
			<a {{ action "goToAboutUs" }} class="item">Company</a>
			<a {{action "goToFeatures"}} class="item">Features</a>
			{{!-- <a {{action "goToPricing"}} class="item">Pricing</a> --}}
			<div class="right menu">
				<div class="item">
					<a {{action "showLoginModal"}} class="ui button">Log in</a>
				</div>
				<div class="item">
					<a {{action "showCreateAccountModal"}} class="ui primary button">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Contents -->
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment landing-header" id="landing-page-header">

		<div class="ui container landing-header">
			<div class="ui large secondary inverted pointing menu no-borders">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				<a class="active item">Getting Started</a>
				<a {{ action "goToAboutUs" }} class="item">Company</a>
				<a {{action "goToFeatures"}} class="item">Features</a>
				{{!-- <a {{action "goToPricing"}} class="item">Pricing</a> --}}
				<div class="right item">
					<a {{action "showLoginModal"}} class="ui inverted button">Log in</a>
					<a {{action "showCreateAccountModal"}} class="ui inverted button">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="ui text container" style="max-width: 900px !important;">
			<div id="login-threshold">
				<h1 class="ui inverted header">
					Closings made easy
				</h1>
				<h2 style="font-weight: 100;">
					Document management. Detailed permissions. Powerful collaboration.
				</h2>
				<div {{action "showCreateAccountModal"}} class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
			</div>
			{{create-account-modal createAccount="createAccount"}}
			{{login-modal login="login" showCreateAccountModal="showCreateAccountModal"}}
			{{create-account-success-modal hideModals="hideModals"}}
			{{forgot-password-modal hideModals="hideModals"}}
			{{terms-and-conditions-modal hideModals="hideModals"}}
			{{reset-password-modal hideModals="hideModals" sessionToken=sessionToken showLoginModal="showLoginModal"}}
			<div class="ui massive text loader" id="login-loader" style="z-index: 100000; color: black;">Loading</div>

		</div>

	</div>

	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="seven wide column">
					<h3 class="ui header">Security first.</h3>
					<p>From the ground up, Closing Docket was built to be the most secure platform ever created for managing closing documents. By providing extensive controls for managing permissions, you can choose who is allowed to view documents and who cannot.</p>
					<h3 class="ui header">Version management reinvented.</h3>
					<p>Never again wonder if you have the latest and greatest version of a document. By providing a slot for each required document, you always know that the file you see is the one you need.</p>
				</div>
				<div class="nine wide right floated column" id="video-wrapper">
						<iframe width="580" height="325" src="https://www.youtube.com/embed/NOwUgx8_CkU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="center aligned column">
					<a {{ action "goToFeatures" }} class="ui huge button">Our Other Features</a>
				</div>
			</div>
		</div>
	</div>


	<div class="ui vertical stripe quote segment">
		<div class="ui equal width stackable internally celled grid">
			<div class="center aligned row">
				<div class="column">
					<h3>"I would never go back. Ever."</h3>
					<p>
						<img src="assets/images/craig.jpg" class="ui avatar image"> <b>Craig Lawrence</b> <br/>Transactional Attorney - Birmingham, AL
					</p>
				</div>
				<div class="column">
					<h3>"Best decision ever. I close more - faster."</h3>
					<p>
						<img src="assets/images/drew.jpg" class="ui avatar image"> <b>Drew Jenkins</b> <br/>Settlement Agent - Atlanta, GA
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="ui vertical stripe segment">
		<div class="ui text container">
			<h3 class="ui header">Get Happier Clients & Earn More.</h3>
			<p>We all want to close more. But how? By being able to manage more closings and maintain more clients, you can now close more with less stress. Long gone are the days of late nights and missed deadlines; re-imagine what a successful closing could feel like.</p>
			<center><a {{ action "goToFeatures" }} class="ui large button">Read More</a></center>
			<h4 class="ui horizontal header divider">
				<i class="fa fa-bar-chart" aria-hidden="true"></i> The Numbers
			</h4>
			<div class="ui three statistics">
				<div class="statistic">
					<div class="value">
						1517
					</div>
					<div class="label">
						Closings Today
					</div>
				</div>
				<div class="statistic">
					<div class="text value">
						One Hundred<br>
						Thousand +
					</div>
					<div class="label">
						Documents Shared
					</div>
				</div>
				<div class="statistic">
					<div class="value">
					 15,871
					</div>
					<div class="label">
						Notifications Sent
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<div class="row">
			<div class="center aligned column">
				<center><a class="ui huge button" {{action "showCreateAccountModal"}}>Close More - for Free</a></center>
			</div>
		</div>
	</div>

	{{ footer-segment }}

</div>
</body>

{{#application-comp}}
	{{outlet}}
{{/application-comp}}

