<!-- Following Menu -->
<body>
<div class="landing-header">
	<div class="ui large top fixed hidden menu" id="features-header">
		<div class="ui container">
			<a {{action "goToLogin"}} class="item">Getting Started</a>
			{{!-- <a {{ action "goToAboutUs" }} class="item">Company</a> --}}
			<a class="active item">Features</a>
      {{!-- <a {{action "goToSecurity"}} class="item">Security</a> --}}
      {{!-- <a {{ action "goToFAQ" }} class="item" class="item">FAQ</a> --}}
      <a {{ action "goToPricing" }} class="item">Pricing</a>
      <div class="right menu">
        <div class="item">
          <a {{action "showLoginModal"}} class="ui button">Log in</a>
        </div>
        {{!-- <div class="item"> --}}
          {{!-- <a {{action "showCreateAccountModal"}} class="ui primary button">Sign Up</a> --}}
        {{!-- </div> --}}
      </div>
    </div>
  </div>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment landing-header" id="features-masthead">

    <div class="ui container landing-header">
      <div class="ui large secondary inverted pointing menu no-borders">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a {{ action "goToLogin"}} class="item">Getting Started</a>
        {{!-- <a {{ action "goToAboutUs" }} class="item">Company</a> --}}
        <a class="active item">Features</a>
        {{!-- <a {{action "goToSecurity"}} class="item">Security</a> --}}
        {{!-- <a {{ action "goToFAQ" }} class="item" class="item">FAQ</a> --}}
        <a {{ action "goToPricing" }} class="item">Pricing</a>
	  		<div class="right item">
	  			<a {{ action "showLoginModal"}} class="ui inverted button">Log in</a>
	  			<a {{ action "showCreateAccountModal"}} class="ui inverted button">Sign Up</a>
	  		</div>
	  	</div>
	  </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Feature rich
      </h1>
      <h2>Redesigning closings means making no compromises</h2>
      <div {{action "showCreateAccountModal"}} class="ui huge primary button">Try for Free <i class="right arrow icon"></i></div>

			{{create-account-modal createAccount="createAccount" hideModals="hideModals"}}
      {{login-modal login="login" showCreateAccountModal="showCreateAccountModal"}}
      {{create-account-success-modal hideModals="hideModals"}}
      {{forgot-password-modal hideModals="hideModals"}}
      {{terms-and-conditions-modal}}
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="twelve wide column">
          <h3 class="ui header">Closing is complicated</h3>
          <p>Why not make it simpler? By giving you all the documents and information at your fingertips, we make it easy to understand what is standing between you and closing. Sophisiticated controls with a simple interface allows you to close more efficiently.</p>
          <h3 class="ui header">Your entire party - one location</h3>
          <p>By providing rigourous controls around who can see documents, the entire party can participate with confidence. For too long, communication has slowed the entire process while missing something in translation. This problem is solved with a platform that protects valuable information and empowers communication.</p>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a {{action "showCreateAccountModal"}} class="ui huge button">Get Started Now</a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Closing Docket is the most secure way for me to interact with my colleagues. I have to use it. It's that simple."</h3>
          <p>
            <img src="assets/images/katie.jpg" class="ui avatar image"> <b>Katie Williams</b> <br/>Broker - Nashville, TN
          </p>
        </div>
        <div class="column">
          <h3>"I'm closing more than ever and would never go back to my old way of managing documents and emails."</h3>
          <p>
            <img src="assets/images/brian.jpg" class="ui avatar image"> <b>Brian Anderson</b> <br/>Lender - Atlanta, GA
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Security and Permissions: Our Obsession</h3>
      <p>Email, fax, and even some file sharing software have their place. But, to know that your documents are secure through alloted permissions that prevent unwanted eyes on certain files requires a specially designed architecture. That's what Closing Docket does the best. By building security into every aspect of our service, we allow you to share and communicate with confidence - never worrying about who is able to view and share your clients' documents and information.</p>
      <h4 class="ui horizontal header divider">
        <span>A Few of Our Security Measures</span>
      </h4>
      <div class="ui two statistics">
        <div class="statistic">
          <div class="text value">
            <i class="fa fa-lock" aria-hidden="true"></i>
            256-bit BCrypt
          </div>
          <div class="label">
            Passwords Protected Encryption
          </div>
        </div>
        <div class="statistic">
          <div class="text value">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            16 Character,<br>
            Time-sensitive
          </div>
          <div class="label">
            Session Token
          </div>
        </div>
      </div>
      <br/>
      <div class="ui two statistics">
        <div class="statistic">
          <div class="text value">
            <i class="fa fa-lock" aria-hidden="true"></i>
            256-bit SSL
          </div>
          <div class="label">
            Server Protected Encryption
          </div>
        </div>
        <div class="statistic">
          <div class="text value">
            <i class="fa fa-server" aria-hidden="true"></i>
            No Direct Access<br>
            to the Server
          </div>
          <div class="label">
            for Maximum Security
          </div>
        </div>
      </div>
      <br/>
      <div class="ui one statistics">
        <div class="statistic">
          <div class="text value">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            Security Measures<br>
            Double
          </div>
          <div class="label">
            the Internet Standard
          </div>
        </div>
      </div>
    </div>
  </div>

	{{!-- SPECIFIC PITCHES --}}
	{{outlet}}

  {{footer-segment}}
</div>
</body>

