{{#getting-started}}
    <div class="ui grid">
        <div class="six wide column" id="finish-account-creation-panel">
            <div style="width: 100%; text-align: center; font-size: 100px;">
                <i class="fa fa-check-circle-o" aria-hidden="true" style="color: #21BA45;"></i>
            </div>
            <br>
            <br>
            <div class="upper-text">
                <strong>Almost there, {{model.first}}!</strong>
                <br>
                <br>
                <i>We don't want you to lose any of your progress if you decide to come back - this will be your login.</i>
            </div>
            <div class="finish-form">
                <div class="ui massive input fluid focus">
                    <input id="getting-started-email" type="text" placeholder="Email">
                </div>
                <br>
                <div class="ui massive input fluid focus">
                    <input id="getting-started-password" type="password" placeholder="Password">
                </div>
                <br>
                <button id="get-started-button" class="massive positive fluid ui right labeled icon button disabled">
                    <i class="right arrow icon"></i>
                    Start Experimenting!
                </button>
            </div>
        </div>
        <div class="ten wide column" id="pool-background"></div>
        <div id="confirm-email-panel" style="text-align: center; display: none;">
            <div class="upper-text">
                <div style="width: 100%; text-align: center; font-size: 100px;">
                    <i class="fa fa-check-circle-o" aria-hidden="true" style="color: #21BA45;"></i>
                </div>
                <br>
                <strong>You've done it!</strong>
                <br>
                <br>
                <i>Your custom dashboard has been created!</i>
            </div>
            <div class="upper-text finish-form" style=>
                We sent an email to
                <br>
                <span id="confirm-email" style="font-size: 20px;"></span>
                <br>
                <br>
                This will enable it for you!
            </div>
        </div>
    </div>
{{/getting-started}}
