{{!-- HEADER START --}}
<div class="ui menu">
	<div class="header item"><img src="assets/images/logo.png" id="header-logo" style="margin-right: 10px; width: 25px;" />Closing Docket </div>
	<div class="header item"><i style="margin-left: 10px; margin-right: 10px;" class="fa fa-lock" aria-hidden="true"></i> <span style="color: green;">Data Successfully Secured and Encrypted</span></div>
		<a href="#" id="settings-dropdown" class="ui right floated dropdown item">
			Options <i class="dropdown icon"></i>
			<div class="menu">
				<div {{ action "showEditProfileModal" user }} class="item">
					<i class="fa fa-user" aria-hidden="true"></i>
					<span style="padding-left: 10px;">Edit Profile</span>
				</div>
				<div {{ action "showEditCompanyProfileModal" }} class="item">
					<i class="fa fa-building-o" aria-hidden="true"></i>
					<span style="padding-left: 10px;">Edit Company Profile</span>
				</div>
				<div {{ action "viewContacts" contacts }} class="item">
					<i class="fa fa-users" aria-hidden="true"></i>
					<span style="padding-left: 10px;">Contact List</span>
				</div>
				<div {{ action "showEditDocumentTypesModal" doctype}} class="item">
					<i class="fa fa-files-o" aria-hidden="true"></i>
					<span style="padding-left: 10px;">Edit Document Types</span>
				</div>
				<div {{ action "showFAQModal" }} class="item">
					<i class="fa fa-question" aria-hidden="true"></i>
					<span style="padding-left: 10px;">Frequently Asked Questions</span>
				</div>
		  	<div {{action "toggleArchive"}} class="item">
				  {{#if archiveMode}}
				  	<i class="fa fa-home" aria-hidden="true"></i>
				  	<span style="padding-left: 10px;">View Live Properties</span>
				  {{else}}
					  <i class="fa fa-archive" aria-hidden="true"></i>
				  	<span style="padding-left: 10px;">View Archived Properties</span>
				  {{/if}}
	  		</div>
			<div {{ action "showUpgradeAccountModal" }} class="item">
				<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
				<span style="padding-left: 10px; font-weight: 600;">Upgrade to Enterprise</span>
			</div>
			<div class="divider"></div>
			<div {{ action "signOut" }} class="item" id="sign-out">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				<span style="padding-left: 10px;">Sign out</span>
			</div>
			{{#if user.admin}}
				<div class="divider"></div>
				<div {{ action "showNewStuff" }} class="item" >
					<i class="fa fa-star-o" style="color: gold;" aria-hidden="true"></i>
					<span style="padding-left: 10px;">New Features & Fixes</span>
				</div>
				<div {{ action "showSiteStats" }} class="item" >
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
					<span style="padding-left: 10px;">Analytics Dashboard</span>
				</div>
			{{/if}}
			</div>
		</a>
</div>
{{!-- HEADER END --}}

<br/>
<div class="ui two column grid">
	<div class="one wide column"></div>
	<div class="three wide column">
		<button {{action "toggleViewMode"}} class="ui basic button">
		  {{#if compactMode}}
			  <i class="fa fa-search-plus" style="padding-right: 10px;" aria-hidden="true"></i>
		  	View Detailed Mode
		  {{else}}
			  <i class="fa fa-search-minus" style="padding-right: 10px;" aria-hidden="true"></i>
		  	View Compact Mode
		  {{/if}}
		</button>
	</div>
	<div class="one wide column"></div>
	<div class="six wide column">
		{{#unless archivedMode}}
			{{property-adder onAddPropertyClick="addProperty"}}
		{{/unless}}
	</div>
	<div class="one wide column"></div>
	<div class="three wide column">
		{{#unless archivedMode}}
			<div class="ui fluid icon input">
		 	 {{ input value=filterValue id="property-filter" placeholder="Filter your properties ..." }}
		 	 <i class="search icon"></i>
			</div>
		{{/unless}}
	</div>
	<div class="one wide column"></div>
</div>

<br />

<div class="ui massive text loader" id="index-loader">Loading</div>

{{#if filteredProperties}}
	{{#if archiveMode}}
		{{ archived-property-list
			componentData=filteredProperties
			refreshData="refreshData"
		}}
	{{else}}
		{{#if compactMode}}
			{{ compact-property-list
				componentData=filteredProperties
				refreshData="refreshData"
				zoomIntoProperty="zoomIntoProperty"
			}}
		{{else}}
			{{ property-list
				doctypes=doctype
				componentData=filteredProperties
				contactList=contacts
				viewContacts="viewContacts"
				archiveProperty="archiveProperty"
				addTask="addTask"
				addDrop="addDrop"
				refreshData="refreshData"
				deleteDocument="deleteDocument"
				deleteDrop="deleteDrop"
			}}
		{{/if}}
	{{/if}}
{{else}}
	<br/>
	<br/>
	<div class="ui grid" style="margin-bottom: 500px;">
		<div class="one wide column"></div>
		<div class="fourteen wide column" style="font-size: 25px; text-align: center;">
			{{#if userHasProperties}}
				<i class="fa fa-filter fa-3x" aria-hidden="true"></i>
				<br>
				<br>
				<br>
				<br>
				There are no properties that match your filter.
			{{else}}
				<i class="fa fa-exclamation fa-3x" aria-hidden="true"></i>
				<br>
				<br>
				<br>
				<br>
				<strong>You don't have any properties yet.</strong>
				<br>
				<br>
				Click the "Add New Property" button to get started!
			{{/if}}
		</div>
		<div class="one wide column"></div>
	</div>
{{/if}}

<br/>
<br/>

{{ footer-segment showFeedbackButton="true"}}

{{#application-comp}}
	{{outlet}}
{{/application-comp}}

{{!-- Modals --}}
	{{ edit-company-profile-modal company=company }}
	{{ edit-profile-modal user=user }}
	{{ feedback-modal }}
	{{ site-stats-modal statistics=statistics }}
	{{ contact-list-modal }}
	{{ edit-document-types-modal
		refreshData="refreshData"
	}}
	{{ create-new-document-type-modal
		refreshData="refreshData"
	}}
	{{ new-stuff-modal }}
	{{ upgrade-account-modal }}
	{{ unload-modal }}
	{{ faq-modal }}

