
<!-- Following Menu -->
<body>

<div class="landing-header">
	<div class="ui large top fixed hidden menu" id="login-header">
		<div class="ui container">
			<a {{ action "goToLogin" }} class="active item">Getting Started</a>
			<a {{ action "goToAboutUs" }} class="item">Company</a>
			<a {{ action "goToFeatures"}} class="item">Features</a>
			<a class="active item">Pricing</a>
			<div class="right menu">
				<div class="item">
					<a {{action "showLoginModal"}} class="ui button">Log in</a>
				</div>
				<div class="item">
					<a {{action "showCreateAccountModal"}} class="ui primary button">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Contents -->
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment landing-header" id="pricing-header">

		<div class="ui container landing-header">
			<div class="ui large secondary inverted pointing menu no-borders">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				<a {{ action "goToLogin" }} class="item">Getting Started</a>
				{{!-- <a {{ action "goToAboutUs" }} class="item">Company</a> --}}
				<a {{action "goToFeatures"}} class="item">Features</a>
				<a class="active item">Pricing</a>
				<div class="right item">
					<a {{action "showLoginModal"}} class="ui inverted button">Log in</a>
					<a {{action "showCreateAccountModal"}} class="ui inverted button">Sign Up</a>
				</div>
			</div>
		</div>

		<div class="ui text container" style="max-width: 900px !important;">
			<div id="login-threshold">
				<h1 class="ui inverted header">
					Plans for every business
				</h1>
				<h2 style="font-weight: 100;">
					Find a plan that works for you and keep more of your hard-earned money.
				</h2>
				<div {{action "showCreateAccountModal"}} class="ui huge primary button">Try for Free <i class="right arrow icon"></i></div>
			</div>
			{{create-account-modal createAccount="createAccount" hideModals="hideModals"}}
			{{login-modal login="login" showCreateAccountModal="showCreateAccountModal"}}
			{{create-account-success-modal hideModals="hideModals"}}
			{{forgot-password-modal hideModals="hideModals"}}
			{{terms-and-conditions-modal}}

		</div>

	</div>


	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="eight wide column pricing-box" id="silver-plan">
					<h3 class="plan-name">Free</h3>
					<center>
						<div class="ui statistic">
						  <div class="value">
						    $0.00
						  </div>
						  <div class="label">
						    Month
						  </div>
						</div>
					</center>
					<div class="ui list">
					  	<span class="item">
					    	<i class="right triangle icon"></i>
					    	<div class="content">
						      	<div class="header">
						      		Use up to 1 property at a time
					      		</div>
						      	<div class="description">
									Experience what a modern closing could feel like using our entire suite of features using any property you create. Once you close, you can create another property.
						      	</div>
					      	</div>
						</span>
					  	<span class="item">
					    	<i class="right triangle icon"></i>
					    	<div class="content">
						      	<div class="header">
						      		Our full world-class set of tools and features
					      		</div>
						      	<div class="description">
									Close more and faster using our simple sharing, easy property creation, complete encryption, fast upload, and sophisticated contact management system. We leave nothing out.
						      	</div>
					      	</div>
						</span>
			      	</div>
			      	<center>
				      	<div class="ui huge buttons">
							<button {{action "showLoginModal"}} class="ui secondary button">Login</button>
							<div class="or"></div>
							<button {{action "showCreateAccountModal"}} class="ui button brand-blue">Create Account</button>
				      	</div>
			      	</center>
				</div>
				<div class="eight wide column pricing-box" id="gold-plan">
					<h3 class="plan-name">Enterprise</h3>
					<center>
						<div class="ui statistic">
						  <div class="value">
						    $29.99
						  </div>
						  <div class="label">
						    Month
						  </div>
						</div>
					</center>
					<div class="ui list">
					  	<span class="item">
					    	<i class="right triangle icon"></i>
					    	<div class="content">
						      	<div class="header">
						      		Unlimited property usage
					      		</div>
						      	<div class="description">
									Create as many properties as you want! With no limit to the number of closings you can have stored in Closing Docket, closing more has never been easier.
						      	</div>
					      	</div>
						</span>
						<span class="item">
							<i class="right triangle icon"></i>
							<div class="content">
						      	<div class="header">
						      		Our full world-class set of tools and features
						  		</div>
						      	<div class="description">
									Close more and faster using our simple sharing, easy property creation, complete encryption, fast upload, and sophisticated contact management system. We leave nothing out.
						      	</div>
						  	</div>
						</span>
					</div>
				      	<center>
					      	<div class="ui huge buttons">
								<button {{action "showUpgradeModal"}} class="ui secondary button">Upgrade</button>
								<div class="or"></div>
								<button {{action "showPaidCreateAccountModal"}} class="ui button brand-blue">Create Account</button>
					      	</div>
				      	</center>
				</div>
			</div>
		</div>
	</div>

	{{ footer-segment }}

</div>
</body>

{{#application-comp}}
	{{outlet}}
{{/application-comp}}

