<div id="quiz-wrapper">
    <div class="ui grid" id="upper-title">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            Could you be closing more? Find out!
        </div>
        <div class="two wide column"></div>
    </div>

    <br>
    <br>
    <br>

    <div class="ui grid" style="height: 600px;">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            {{#if showName}}
                <div class="ui segment wrapper-box">
                    <div class="ui top attached indicating progress" data-percent="100">
                        <div class="bar"></div>
                    </div>
                    <div class="quiz-header">To see your results, enter your first and last name:</div>
                        <br>
                        <center>
                            <div class="ui input huge focus">
                                <input id="first" type="text" placeholder="First ...">
                                <input id="last" type="text" placeholder="Last ..." style="margin-left:5px; margin-right: 5px;">
                            </div>
                        </center>
                    <div class="ui bottom attached indicating progress" data-percent="100">
                        <div class="bar"></div>
                    </div>
                </div>
                <center>
                    <div {{action "advanceToGettingStarted"}} class="ui huge primary button">See my results!<i class="right arrow icon"></i></div>
                </center>
            {{else}}
                <div class="ui segment wrapper-box">
                    <div class="ui top attached indicating progress">
                        <div class="bar"></div>
                    </div>
                    <div class="quiz-header">{{currentQA.question}}</div>
                    <br>
                    <div class="ui three stackable cards">
                        {{#each currentQA.answers as |answer|}}
                            <div {{action "nextQuestion" answer}} class="card text-answer">
                                {{answer}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="ui bottom attached indicating progress">
                        <div class="bar"></div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="two wide column"></div>
    </div>
</div>

{{footer-segment}}
