<div class="ui massive active centered inline loader" id="loader">
	<i class="fa fa-lock fa-2x" aria-hidden="true" style="margin-left: 3px;"></i>
	<br>
	<br>
	Validating
	<br>
	Your
	<br>
	Account
</div>
{{outlet}}
